<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelBeginnerBottomFilter</key>
	<string>keepCrucialPreviewTarget</string>
	<key>cancelLastTempleStack</key>
	<string>setLiteStyleContainer</string>
	<key>initializeGlobalChallengeBase</key>
	<string>setDirectLayerStack</string>
	<key>setIntermediateParameterManager</key>
	<string>calculateOpaqueMechanismManager</string>
	<key>stopSecondLayerInstance</key>
	<string>setNormalAspectList</string>
</dict>
</plist>
