<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeAutoMaterialGroup</key>
	<string>setMultiTempleGroup</string>
	<key>resumeLargeFlagsHandler</key>
	<string>skipAutoHashPool</string>
	<key>rotateEnabledSceneAdapter</key>
	<string>getGlobalParamInstance</string>
	<key>setIgnoredEquipmentBase</key>
	<string>endExplicitVarArray</string>
	<key>spinIgnoredUtilAdapter</key>
	<string>skipLargeOriginHandler</string>
	<key>touchBackwardMendFactory</key>
	<string>regulateSeamlessPopupTarget</string>
</dict>
</plist>
