<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateCartesianValueFactory</key>
	<string>limitAsynchronousParticleHelper</string>
	<key>checkLocalCaptionManager</key>
	<string>undertakeGranularFeatureType</string>
	<key>eraseSymmetricDescentPool</key>
	<string>optimizePriorEqualizationTarget</string>
	<key>getUnactivatedSlashType</key>
	<string>getSpecifyHeadReference</string>
	<key>resumeAutoViewArray</key>
	<string>pausePublicItemDelegate</string>
	<key>setIntuitiveVectorContainer</key>
	<string>setPrismaticParamCache</string>
	<key>setRespectiveValueFilter</key>
	<string>retrieveSemanticInitiativeList</string>
</dict>
</plist>
