<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelImmutableRangeAdapter</key>
	<string>limitSignificantThreadProtocol</string>
	<key>endPrimaryCapacitiesContainer</key>
	<string>endTensorComponentStack</string>
	<key>getPrimarySchemaInstance</key>
	<string>getStandaloneSizeFilter</string>
	<key>initializeAssociatedAnalogyBase</key>
	<string>getCustomizedNumberFactory</string>
	<key>initializeEnabledBufferCache</key>
	<string>showPriorOptimizerHandler</string>
	<key>regulateDifficultOpacityList</key>
	<string>restartRequiredValueArray</string>
	<key>regulateKeyRotationHandler</key>
	<string>resumeStandaloneValueBase</string>
	<key>setEuclideanNameFactory</key>
	<string>stopDedicatedDescriptorTarget</string>
	<key>setNumericalVideoCreator</key>
	<string>setStaticSkewXImplement</string>
</dict>
</plist>
