<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawBeginnerProgressBarList</key>
	<string>dismissPivotalFrameDecorator</string>
	<key>enumerateStaticParameterDecorator</key>
	<string>parsePermanentSkinObserver</string>
	<key>getBackwardTitleProtocol</key>
	<string>regulateUniformInitiatorsReference</string>
	<key>getIndependentSizePool</key>
	<string>setEphemeralParameterDelegate</string>
	<key>keepDirectlyGridDecorator</key>
	<string>wrapRespectiveTextDecorator</string>
</dict>
</plist>
