<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawEuclideanSkewXFilter</key>
	<string>getMultiSliderCreator</string>
	<key>getDirectTagType</key>
	<string>setNextVariableHandler</string>
	<key>getNewestChartHelper</key>
	<string>getLastConfigurationType</string>
	<key>setAgileEffectCreator</key>
	<string>pushGlobalNumberPool</string>
	<key>startSubtleLayoutList</key>
	<string>clipPriorDescentCollection</string>
	<key>stopRelationalLatencyGroup</key>
	<string>quitSecondLeftDelegate</string>
</dict>
</plist>
