<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCriticalViewProtocol</key>
	<string>continueCommonVarCreator</string>
	<key>continueConcreteGridCache</key>
	<string>endMediocreQueueCollection</string>
	<key>equalNextNameAdapter</key>
	<string>trainSynchronousUtilCache</string>
	<key>restartSimilarDocumentPool</key>
	<string>getTensorVariableOwner</string>
	<key>setDelicateMasterTarget</key>
	<string>stopSemanticScaleGroup</string>
	<key>touchConcreteNumberFilter</key>
	<string>startUsedTitleInstance</string>
</dict>
</plist>
