<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addPivotalSchemaCollection</key>
	<string>trainEnabledParamInstance</string>
	<key>finishHardParameterFactory</key>
	<string>getSeamlessParamReference</string>
	<key>getUnsortedBufferContainer</key>
	<string>lockLostMemberContainer</string>
	<key>pauseElasticAssetManager</key>
	<string>floatEasyScaleExtension</string>
	<key>skipPrimaryNumberManager</key>
	<string>finishLargeVarTarget</string>
</dict>
</plist>
