<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLiteMechanismPool</key>
	<string>prepareGreatPositionArray</string>
	<key>getCommonClusterArray</key>
	<string>shearLocalPlateType</string>
	<key>holdBackwardPopupHelper</key>
	<string>getRapidPositionProtocol</string>
	<key>readDisparateVarHelper</key>
	<string>setActivatedTagOwner</string>
	<key>setGreatEquivalentHelper</key>
	<string>setOriginalNumberInstance</string>
	<key>setStaticSkirtOwner</key>
	<string>stopPrevPermutationAdapter</string>
</dict>
</plist>
