<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureFusedPositionProtocol</key>
	<string>restartGreatRowImplement</string>
	<key>endEphemeralVarHandler</key>
	<string>setSymmetricPolyfillExtension</string>
	<key>getGranularIndexProtocol</key>
	<string>setCrucialMetadataObserver</string>
	<key>navigateUniformMechanismOwner</key>
	<string>resumeMediumMemberFilter</string>
	<key>trainReusableParamGroup</key>
	<string>continueGlobalVarType</string>
</dict>
</plist>
