<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelIgnoredCoordTarget</key>
	<string>getDiversifiedRowHelper</string>
	<key>detachMediumSessionInstance</key>
	<string>restartAgileTempleCreator</string>
	<key>endIntuitiveCubeManager</key>
	<string>equalMissedTagInstance</string>
	<key>getLocalBufferDelegate</key>
	<string>unlockPivotalFrameGroup</string>
	<key>getOtherVariableExtension</key>
	<string>getMediocreGraphOwner</string>
	<key>initializeCriticalResolverBase</key>
	<string>stopProtectedSkewXGroup</string>
	<key>parseLiteMenuBase</key>
	<string>shearKeyInformationReference</string>
	<key>regulateTensorCapsuleFilter</key>
	<string>prepareRelationalFrameInstance</string>
	<key>replaceSortedBufferArray</key>
	<string>resetSubstantialMusicDecorator</string>
</dict>
</plist>
