<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseSpecifyConvolutionObserver</key>
	<string>getCustomizedTopicManager</string>
	<key>pushDeclarativeStrokeDelegate</key>
	<string>regulateEnabledParamType</string>
	<key>setEuclideanStatusImplement</key>
	<string>setImmutableContrastStack</string>
	<key>setGranularUtilObserver</key>
	<string>setDirectlySineBase</string>
</dict>
</plist>
