<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentCustomIndexArray</key>
	<string>encapsulateMainVideoAdapter</string>
	<key>decoupleResilientVariableStack</key>
	<string>setAssociatedVarOwner</string>
	<key>resetImmutableValueCollection</key>
	<string>embedActivatedPositionPool</string>
	<key>restartCommonDescriptionTarget</key>
	<string>setSubsequentEquipmentHelper</string>
	<key>restartCustomTrajectoryCollection</key>
	<string>endLastPolyfillBase</string>
</dict>
</plist>
