<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenateSmallActivityInstance</key>
	<string>shearLargeNameGroup</string>
	<key>continueIntuitiveScreenCreator</key>
	<string>startAccordionAudioOwner</string>
	<key>getBasicProjectionHandler</key>
	<string>augmentCustomMenuCreator</string>
	<key>getMissedLatencyFilter</key>
	<string>pushDelicateParamCache</string>
	<key>initializeNumericalVarExtension</key>
	<string>parseSmallPreviewInstance</string>
	<key>replaceProtectedLoaderStack</key>
	<string>finishBeginnerUtilGroup</string>
	<key>setDelicateHeadExtension</key>
	<string>getArithmeticBufferInstance</string>
	<key>setIntuitiveSkewXType</key>
	<string>finishLiteOriginList</string>
</dict>
</plist>
