<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueHardHeadExtension</key>
	<string>setIntermediateScaleFilter</string>
	<key>embraceMediumChallengeType</key>
	<string>stopDelicateVarStack</string>
	<key>endAdvancedAnalogyAdapter</key>
	<string>shearAutoUtilHelper</string>
	<key>getAsynchronousSignStack</key>
	<string>concatenateSymmetricHashCache</string>
	<key>obtainNextEdgeHandler</key>
	<string>resumeCustomizedSlashContainer</string>
	<key>trainPrevResultAdapter</key>
	<string>restartSmallVariableType</string>
</dict>
</plist>
