<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateAsynchronousLayoutObserver</key>
	<string>endLargeSegmentCache</string>
	<key>enumerateSeamlessBottomType</key>
	<string>restartDedicatedValueStack</string>
	<key>getEasyTempleGroup</key>
	<string>quitLargeAmortizationInstance</string>
	<key>getIgnoredTagDelegate</key>
	<string>initializeExplicitCycleCreator</string>
	<key>initializeSubtleTimeObserver</key>
	<string>wrapSubstantialTempleStack</string>
	<key>multiplyElasticMetadataList</key>
	<string>resetIgnoredAudioCreator</string>
	<key>setIgnoredOpacityInstance</key>
	<string>getFirstCoordFilter</string>
	<key>stopConsultativeTempleCache</key>
	<string>setSubsequentShapeDecorator</string>
</dict>
</plist>
