<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentEasyContractionReference</key>
	<string>getStaticMatrixCache</string>
	<key>getMediumSkinPool</key>
	<string>preparePermanentNumberManager</string>
	<key>provideNormalValueGroup</key>
	<string>introspectConcreteParamExtension</string>
	<key>restartSubsequentGramHelper</key>
	<string>getDelicateStyleCollection</string>
	<key>setImmutableVarHandler</key>
	<string>createIndependentLabelStack</string>
	<key>showSeamlessPositionImplement</key>
	<string>stopNextSkinOwner</string>
	<key>skipTensorEvolutionReference</key>
	<string>poolPrismaticCubeInstance</string>
</dict>
</plist>
