<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateSemanticBufferCollection</key>
	<string>trainSmartEfficiencyCollection</string>
	<key>dissociateRobustResultContainer</key>
	<string>getBackwardGroupHelper</string>
	<key>exitStandaloneEdgeHelper</key>
	<string>displayStandaloneResultPool</string>
	<key>writeAgileProgressBarReference</key>
	<string>startUnactivatedColorPool</string>
</dict>
</plist>
