<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitRespectiveCenterDelegate</key>
	<string>resumeGranularParameterFilter</string>
	<key>findDifficultOriginDelegate</key>
	<string>setExplicitParameterFactory</string>
	<key>getMultiZoneTarget</key>
	<string>setBackwardAnchorPool</string>
	<key>getOpaqueVarReference</key>
	<string>restoreDiversifiedResultDelegate</string>
	<key>prepareGranularGraphImplement</key>
	<string>clearFusedAllocatorOwner</string>
	<key>restartConsultativeAllocatorGroup</key>
	<string>resumeAutoGraphInstance</string>
	<key>setFusedBorderFactory</key>
	<string>stopStaticMeshCreator</string>
	<key>setRespectiveGemType</key>
	<string>searchOriginalRectangleFilter</string>
	<key>updateDisparateTopStack</key>
	<string>setOldLayerGroup</string>
</dict>
</plist>
