<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDenseTopicProtocol</key>
	<string>resizeSimilarRightFilter</string>
	<key>getRelationalReferenceManager</key>
	<string>renameMainRightObserver</string>
	<key>keepDiversifiedFrameManager</key>
	<string>getReusableMediaContainer</string>
	<key>offsetConsultativeInitiatorsCache</key>
	<string>stopCrudeSpriteCache</string>
	<key>setIntermediateRightTarget</key>
	<string>reconcileGreatTextureFactory</string>
	<key>skipMutableProjectionHandler</key>
	<string>setArithmeticViewDecorator</string>
	<key>skipTensorResultExtension</key>
	<string>finishCrucialRoleFilter</string>
	<key>wrapHyperbolicModulusInstance</key>
	<string>detachSemanticQueueDecorator</string>
</dict>
</plist>
