<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eraseStaticFeatureTarget</key>
	<string>poolRequiredValueReference</string>
	<key>getCrucialPreviewPool</key>
	<string>cloneSortedInterfaceCreator</string>
	<key>getProtectedSkewXArray</key>
	<string>resizeRespectiveParameterCollection</string>
	<key>pausePrimaryBufferObserver</key>
	<string>setSustainableAllocatorGroup</string>
	<key>replaceUnactivatedCaptionCreator</key>
	<string>stopSmartLogStack</string>
	<key>setRetainedProvisionPool</key>
	<string>refreshSubtleInterpolationOwner</string>
	<key>setUniformSignatureFilter</key>
	<string>unlockSubtleMenuCache</string>
	<key>writeIterativeRestrictionManager</key>
	<string>setSortedNameCollection</string>
</dict>
</plist>
