<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateSmallLayoutCache</key>
	<string>visitFusedTextureCache</string>
	<key>cancelConsultativePopupReference</key>
	<string>cancelHyperbolicParamList</string>
	<key>getMissedTextureBase</key>
	<string>startUniqueRightDecorator</string>
	<key>getTypicalBottomImplement</key>
	<string>setSmallTentativeFactory</string>
	<key>setBeginnerSkewXObserver</key>
	<string>setRespectiveTextBase</string>
	<key>stopConcurrentVariableContainer</key>
	<string>pauseIntermediateRowCache</string>
</dict>
</plist>
