<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertSustainableMemberDecorator</key>
	<string>keepCriticalConfigurationContainer</string>
	<key>getConsultativeSizeOwner</key>
	<string>provideSynchronousVarObserver</string>
	<key>replaceDiscardedSkewXType</key>
	<string>getHierarchicalNameOwner</string>
	<key>startElasticBufferType</key>
	<string>associateDelicateOptionAdapter</string>
	<key>startEnabledSkewXImplement</key>
	<string>lockSimilarCertificateType</string>
</dict>
</plist>
