<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueArithmeticLoaderContainer</key>
	<string>retainCartesianMeshCreator</string>
	<key>continueDisparateCurveReference</key>
	<string>getEuclideanSubpixelTarget</string>
	<key>equalDedicatedInterpolationCache</key>
	<string>startUniformParameterGroup</string>
	<key>generateOpaqueVariableType</key>
	<string>captureIgnoredSlashProtocol</string>
	<key>insteadDisplayableVarBase</key>
	<string>getCurrentValueHandler</string>
	<key>restartPermissiveIndicatorFactory</key>
	<string>restoreConsultativeEvolutionGroup</string>
	<key>resumeOriginalBufferType</key>
	<string>continuePrimaryOptionProtocol</string>
	<key>setTypicalDescriptionGroup</key>
	<string>releaseDedicatedBottomAdapter</string>
	<key>stopDisplayableListenerAdapter</key>
	<string>setCrucialBitrateOwner</string>
</dict>
</plist>
