<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineEasyOriginPool</key>
	<string>setBasicSpriteTarget</string>
	<key>getEnabledPositionFilter</key>
	<string>cancelGreatTempleFactory</string>
	<key>getSemanticScaleHandler</key>
	<string>limitDedicatedTimeCreator</string>
	<key>keepAdvancedIndexTarget</key>
	<string>restartSubsequentBufferHandler</string>
	<key>multiplyLocalResourceCollection</key>
	<string>resumeSubsequentParamArray</string>
	<key>releaseSpecifyPriorityDecorator</key>
	<string>finishRelationalBulletType</string>
	<key>setAgileButtonCache</key>
	<string>findSimilarNumberInstance</string>
	<key>setDirectSpriteInstance</key>
	<string>setSynchronousDescriptionProtocol</string>
	<key>setEnabledMultiplicationArray</key>
	<string>cancelCartesianImpressionCache</string>
	<key>setSeamlessDisclaimerType</key>
	<string>startExplicitProjectOwner</string>
</dict>
</plist>
