<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createAdvancedBoundTarget</key>
	<string>restartGeometricParameterFilter</string>
	<key>getFusedNumberTarget</key>
	<string>getSeamlessConsumptionOwner</string>
	<key>getSimilarBatchCache</key>
	<string>setRespectiveGrainObserver</string>
	<key>setAccordionValueInstance</key>
	<string>endIgnoredCaptionManager</string>
	<key>stopFusedThroughputTarget</key>
	<string>getCommonTrajectoryFactory</string>
	<key>upgradeArithmeticBottomObserver</key>
	<string>initializeLostVariableInstance</string>
</dict>
</plist>
