<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueOtherCenterDelegate</key>
	<string>equalCurrentParameterContainer</string>
	<key>offsetArithmeticGraphicObserver</key>
	<string>setPrimaryValueGroup</string>
	<key>setIndependentVariableArray</key>
	<string>startSortedParameterOwner</string>
	<key>setSustainableChartDecorator</key>
	<string>getEnabledFlagsInstance</string>
	<key>skipUnactivatedMenuOwner</key>
	<string>moveDedicatedItemManager</string>
	<key>spinNextCoordinatorList</key>
	<string>startDifficultHeadGroup</string>
	<key>startGeometricTraversalCreator</key>
	<string>startTypicalNotationImplement</string>
	<key>startPivotalAnchorFilter</key>
	<string>reconcileLiteSampleAdapter</string>
</dict>
</plist>
