<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseSignificantVisibleOwner</key>
	<string>setRelationalFragmentsFactory</string>
	<key>setAdvancedInterfaceOwner</key>
	<string>getRespectiveTraversalHelper</string>
	<key>setLargeSegmentContainer</key>
	<string>setIntuitiveSineExtension</string>
	<key>setTypicalHeadFilter</key>
	<string>destroySortedPositionInstance</string>
	<key>stopDirectPermutationHandler</key>
	<string>stopBasicSignatureReference</string>
	<key>wrapMediocreMendContainer</key>
	<string>getAutoSpineInstance</string>
</dict>
</plist>
