<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueKeyLoopObserver</key>
	<string>setOpaqueTextureOwner</string>
	<key>getMediumFeatureHandler</key>
	<string>prepareSophisticatedHeadHandler</string>
	<key>getNormalSchemaCache</key>
	<string>cancelOriginalColorGroup</string>
	<key>setSustainableProgressBarHelper</key>
	<string>getSmartStyleCollection</string>
</dict>
</plist>
