<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearDedicatedCatalystDelegate</key>
	<string>setRespectiveInteractionHelper</string>
	<key>finishDisplayableThresholdDelegate</key>
	<string>keepMissedBufferCache</string>
	<key>restartCustomizedAnchorProtocol</key>
	<string>startPermissiveNumberProtocol</string>
	<key>setEuclideanOpacityType</key>
	<string>preparePublicHeroProtocol</string>
</dict>
</plist>
