<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>makeIterativeAudioOwner</key>
	<string>getSophisticatedTrianglesProtocol</string>
	<key>respondRelationalBoundArray</key>
	<string>animateSubstantialValueObserver</string>
	<key>startDifficultVariableContainer</key>
	<string>skipKeyVariableAdapter</string>
</dict>
</plist>
