<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformLastVarList</key>
	<string>continueIgnoredSkewYExtension</string>
	<key>quitDirectMissionDelegate</key>
	<string>getPermanentHeapAdapter</string>
	<key>restartMultiGridHandler</key>
	<string>setDelicateVisibleHelper</string>
</dict>
</plist>
