<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelNumericalChapterTarget</key>
	<string>endPrevSignatureFilter</string>
	<key>prepareIterativeSkewYPool</key>
	<string>stopIntermediateVisibleReference</string>
	<key>restartPrimaryGroupArray</key>
	<string>prepareArithmeticVisibleHandler</string>
	<key>retrieveImmutableCapacitiesAdapter</key>
	<string>endComprehensiveBufferTarget</string>
</dict>
</plist>
