<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>executeCurrentPrecisionAdapter</key>
	<string>skipPrimaryBorderHelper</string>
	<key>getSpecifyChallengeList</key>
	<string>getCustomParamPool</string>
	<key>getSubtleGroupTarget</key>
	<string>setSortedConfidentialityReference</string>
	<key>holdIgnoredLoopCache</key>
	<string>retrieveNewestPositionOwner</string>
	<key>markMediumChapterFactory</key>
	<string>stopLiteInfoAdapter</string>
	<key>retrieveSubsequentCenterProtocol</key>
	<string>setIntermediateDepthFactory</string>
</dict>
</plist>
