<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getGeometricNumberExtension</key>
	<string>freeProtectedPermutationPool</string>
	<key>initializeSimilarLogarithmDecorator</key>
	<string>undertakeDisplayableThreadProtocol</string>
	<key>pauseDeclarativeGraphGroup</key>
	<string>initializeDiscardedTextureArray</string>
	<key>setRobustSlashManager</key>
	<string>adjustFirstRowAdapter</string>
</dict>
</plist>
