<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIgnoredTaskImplement</key>
	<string>getEuclideanSpriteDecorator</string>
	<key>getCustomizedMenuHelper</key>
	<string>equalAsynchronousVarArray</string>
	<key>getSignificantMatrixFilter</key>
	<string>finishHierarchicalFrameBase</string>
	<key>startGeometricDisclaimerManager</key>
	<string>stopDisparateVariantBase</string>
</dict>
</plist>
