<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishNewestGramImplement</key>
	<string>setAutoNodeFilter</string>
	<key>prepareMultiLayerType</key>
	<string>detachEuclideanRemediationCreator</string>
	<key>setPublicBatchTarget</key>
	<string>resumePrevValueOwner</string>
	<key>trainLargeRendererType</key>
	<string>setRapidVariableArray</string>
</dict>
</plist>
