<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustMutableThresholdProtocol</key>
	<string>setOpaqueParameterFilter</string>
	<key>continueActivatedObserverBase</key>
	<string>stopUniformVideoType</string>
	<key>continueGreatPopupArray</key>
	<string>getPriorSliderManager</string>
	<key>displayRapidFlagsHandler</key>
	<string>startAutoParamManager</string>
	<key>endPermanentTweakType</key>
	<string>eraseSustainableSkirtHelper</string>
	<key>getSortedProfileManager</key>
	<string>readGreatMemberAdapter</string>
	<key>pauseStaticBinaryHelper</key>
	<string>setOpaqueResolverPool</string>
	<key>setGranularInfrastructureTarget</key>
	<string>convertNormalMenuStack</string>
	<key>shearComprehensiveDescriptionStack</key>
	<string>floatComprehensiveBaselineDecorator</string>
</dict>
</plist>
