<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendIntermediatePolygonInstance</key>
	<string>getDelicateEventObserver</string>
	<key>endDelicateHeadExtension</key>
	<string>getDeclarativeCacheType</string>
	<key>getEasyVectorHelper</key>
	<string>setDisparateEffectCreator</string>
	<key>initializeMutableSkewYFilter</key>
	<string>setTypicalChallengeReference</string>
	<key>pauseDifficultPetPool</key>
	<string>combineSmartNumberObserver</string>
	<key>removeUsedSkewYList</key>
	<string>setEuclideanAllocatorFilter</string>
</dict>
</plist>
