<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateActivatedVolumeProtocol</key>
	<string>enhanceSubsequentDescriptionOwner</string>
	<key>aggregateDirectlyNumberFilter</key>
	<string>endUniformParameterFilter</string>
	<key>continueBackwardDescriptionTarget</key>
	<string>visitCurrentVarTarget</string>
	<key>continuePermanentSceneOwner</key>
	<string>resumeSubtleInteractionAdapter</string>
	<key>getGreatBufferHandler</key>
	<string>trainTypicalVarObserver</string>
	<key>rectifyRequiredDetailDecorator</key>
	<string>touchRelationalCoordDecorator</string>
	<key>skipPermanentVarInstance</key>
	<string>prepareSynchronousVectorAdapter</string>
	<key>trainHierarchicalNameReference</key>
	<string>releaseMediocreInitiativeContainer</string>
	<key>visitCustomizedDetailManager</key>
	<string>prepareSortedMusicCollection</string>
</dict>
</plist>
