<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishStaticBufferBase</key>
	<string>setImmutableVolumeCache</string>
	<key>getGeometricDimensionArray</key>
	<string>finishNumericalTitleTarget</string>
	<key>resumeAutoDescriptorInstance</key>
	<string>stopTensorBulletList</string>
	<key>setGranularVertexGroup</key>
	<string>divideBackwardAllocatorOwner</string>
</dict>
</plist>
