<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrevRestrictionDelegate</key>
	<string>prepareConcurrentMonsterGroup</string>
	<key>pauseDisplayableTempleList</key>
	<string>continueIntermediateHashManager</string>
	<key>setPivotalControllerExtension</key>
	<string>stopGlobalParameterList</string>
	<key>setSortedTopFactory</key>
	<string>cancelOriginalChapterExtension</string>
	<key>setSortedVariableCreator</key>
	<string>eraseTypicalRightAdapter</string>
</dict>
</plist>
