<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelLastFlagsCache</key>
	<string>cleanCustomizedMatrixAdapter</string>
	<key>getDeclarativeChartBase</key>
	<string>startActivatedNameImplement</string>
	<key>getExplicitEqualizationContainer</key>
	<string>augmentSharedContrastCache</string>
	<key>getHyperbolicValueBase</key>
	<string>getDirectNumberPool</string>
	<key>getSubtleCaptionDecorator</key>
	<string>pauseIndependentPositionStack</string>
	<key>getUniqueUtilHandler</key>
	<string>getLiteInitiativeBase</string>
	<key>initializePriorAscentDelegate</key>
	<string>extendSortedInitiativeAdapter</string>
	<key>prepareResilientIndexFactory</key>
	<string>continueLocalOpacityArray</string>
	<key>setCommonTimeTarget</key>
	<string>provideConcurrentSliderInstance</string>
	<key>setCrudeResultFactory</key>
	<string>getEphemeralExponentFilter</string>
</dict>
</plist>
