<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conformPrimaryVarExtension</key>
	<string>endRequiredValueDelegate</string>
	<key>findCartesianVariableReference</key>
	<string>getRequiredHashCreator</string>
	<key>initializeOpaqueTechniqueImplement</key>
	<string>getEphemeralNameInstance</string>
	<key>poolIntuitiveSizeExtension</key>
	<string>resumeConcurrentSpriteExtension</string>
	<key>touchPublicBoundCache</key>
	<string>regulateSortedLayoutArray</string>
</dict>
</plist>
