<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDirectlyZoneFactory</key>
	<string>setFusedNumberArray</string>
	<key>continueMediocreEdgeStack</key>
	<string>cancelSortedApertureStack</string>
	<key>executeDedicatedIndexStack</key>
	<string>getGreatIntegrationDelegate</string>
	<key>removeDirectlyMetricsList</key>
	<string>stopHierarchicalSpriteCollection</string>
	<key>setCrucialTweakPool</key>
	<string>getDirectlyMatrixType</string>
	<key>upgradeCrucialMechanismProtocol</key>
	<string>finishLargeHeadProtocol</string>
</dict>
</plist>
