<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMutableTangentStack</key>
	<string>keepPrimaryPaddingFilter</string>
	<key>getAgileBufferStack</key>
	<string>getArithmeticMovementGroup</string>
	<key>getMultiResolverArray</key>
	<string>cancelProtectedBandwidthGroup</string>
	<key>keepOriginalParameterFilter</key>
	<string>pushHyperbolicLogList</string>
	<key>pauseNextPreviewHandler</key>
	<string>trainNumericalVariableDelegate</string>
	<key>prepareComprehensiveActionReference</key>
	<string>getSimilarNodeCollection</string>
	<key>refreshCartesianTopCache</key>
	<string>initializePermissiveThreadOwner</string>
	<key>startRapidUtilAdapter</key>
	<string>setDeclarativeStampDelegate</string>
</dict>
</plist>
