<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSpecifySizeContainer</key>
	<string>seekUniformTernaryInstance</string>
	<key>getSmallVariableExtension</key>
	<string>setSemanticVisibleHelper</string>
	<key>restartSeamlessAssetHelper</key>
	<string>stopBackwardDepthHelper</string>
	<key>setArithmeticSoundCreator</key>
	<string>prepareIntermediateLoopManager</string>
	<key>setLocalParameterStack</key>
	<string>getRequiredVarArray</string>
	<key>setRetainedSpineAdapter</key>
	<string>retainRapidSkewYHelper</string>
	<key>setUnsortedShaderInstance</key>
	<string>cloneSeamlessProjectionAdapter</string>
	<key>stopPriorVectorFilter</key>
	<string>setDirectlyTempleAdapter</string>
	<key>trainPermissiveOperationCache</key>
	<string>startStaticSpriteManager</string>
	<key>trainSubsequentHeapArray</key>
	<string>convertFusedVarArray</string>
</dict>
</plist>
