<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateOpaqueSoundType</key>
	<string>resumeSophisticatedReferenceList</string>
	<key>cleanAccessiblePositionObserver</key>
	<string>setIndependentTitleGroup</string>
	<key>getBackwardOriginFilter</key>
	<string>getRobustMapReference</string>
	<key>parseStaticResolverArray</key>
	<string>decoupleSemanticParameterProtocol</string>
	<key>pauseHyperbolicModulusCache</key>
	<string>wrapEasyViewInstance</string>
	<key>quantizerUniformBufferCreator</key>
	<string>endConcurrentBufferArray</string>
	<key>resetSophisticatedCurveAdapter</key>
	<string>getBasicValueFactory</string>
	<key>writeIgnoredLeftArray</key>
	<string>resumeIntermediateShaderFactory</string>
</dict>
</plist>
