<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayGlobalNumberCreator</key>
	<string>trainSimilarVariablePool</string>
	<key>endPriorPlaybackAdapter</key>
	<string>differentiateLitePriorityStack</string>
	<key>finishNewestBaselineProtocol</key>
	<string>getMediumVisibleExtension</string>
	<key>getDedicatedMovementGroup</key>
	<string>setStaticStepList</string>
	<key>makeImmutableMusicManager</key>
	<string>getIgnoredValueDecorator</string>
	<key>pauseHierarchicalBoundGroup</key>
	<string>trainHardBufferCollection</string>
	<key>resumeIterativeButtonInstance</key>
	<string>requestRelationalParameterList</string>
	<key>setGreatIntensityReference</key>
	<string>startMultiVariableGroup</string>
</dict>
</plist>
