<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSharedRightFilter</key>
	<string>setIntuitiveNameDecorator</string>
	<key>freeSimilarValueCollection</key>
	<string>setSynchronousEfficiencyDelegate</string>
	<key>initializeUniqueModelImplement</key>
	<string>destroyConcreteActionObserver</string>
	<key>setAutoMaterialCache</key>
	<string>initializeOpaqueFrameReference</string>
	<key>skipLiteImageHandler</key>
	<string>dissociateElasticRowOwner</string>
</dict>
</plist>
