<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishDedicatedTempleHelper</key>
	<string>visitCrudeMetadataContainer</string>
	<key>getSpecifyRendererArray</key>
	<string>setNextSkewYArray</string>
	<key>initializeSophisticatedVarAdapter</key>
	<string>getEnabledThreadHandler</string>
	<key>reflectEuclideanDimensionAdapter</key>
	<string>storeSemanticSoundCreator</string>
	<key>startCrucialLabelContainer</key>
	<string>setPermissiveTitleExtension</string>
</dict>
</plist>
