<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateHardIndexProtocol</key>
	<string>trainSingleHeadInstance</string>
	<key>finishCustomExponentHelper</key>
	<string>getComprehensiveSchedulerObserver</string>
	<key>getLostConfidentialityContainer</key>
	<string>getKeyActionContainer</string>
	<key>prepareCustomizedButtonContainer</key>
	<string>exitLastTempleContainer</string>
	<key>retainSimilarEdgeCache</key>
	<string>stopHyperbolicScaleObserver</string>
	<key>setSemanticParamCreator</key>
	<string>setDirectlyMenuGroup</string>
</dict>
</plist>
