<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCartesianQueueDecorator</key>
	<string>destroyDiscardedTextureExtension</string>
	<key>getTypicalTrianglesHelper</key>
	<string>getSynchronousFlagsExtension</string>
	<key>getUniformCosineHelper</key>
	<string>startGreatFormatExtension</string>
	<key>keepOpaqueElasticityCreator</key>
	<string>prepareDelicateRightBase</string>
	<key>setDirectlyTentativeCache</key>
	<string>navigateElasticValueStack</string>
	<key>skipPriorSkewXPool</key>
	<string>decoupleAccessibleMobileManager</string>
	<key>streamlineFirstProvisionGroup</key>
	<string>setHardConfigurationDecorator</string>
</dict>
</plist>
