<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getConcurrentLoopTarget</key>
	<string>offsetTensorMatrixList</string>
	<key>getDirectlyFeaturePool</key>
	<string>setFirstTextCollection</string>
	<key>mitigateSecondPositionList</key>
	<string>freeCrudeOptimizerTarget</string>
	<key>obtainDiscardedTimelineCollection</key>
	<string>findBeginnerInitiativeManager</string>
	<key>prepareSymmetricSchemaCreator</key>
	<string>setPrimarySkewXArray</string>
	<key>setDirectSpriteObserver</key>
	<string>stopSingleSkinDecorator</string>
	<key>setLocalBorderHelper</key>
	<string>searchDifficultSpriteCreator</string>
	<key>setResilientCenterInstance</key>
	<string>respondRetainedBoundHelper</string>
	<key>stopPrimaryTailDecorator</key>
	<string>endDiscardedInitiatorsCache</string>
	<key>trainUniqueSoundInstance</key>
	<string>preparePublicDimensionType</string>
</dict>
</plist>
