<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimizeCriticalBaseExtension</key>
	<string>restartConcreteAccessoryFilter</string>
	<key>prepareFusedProgressBarManager</key>
	<string>prepareIndependentLoopObserver</string>
	<key>reconcileHardRectFactory</key>
	<string>initializeSymmetricElementCache</string>
</dict>
</plist>
