<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishComprehensiveDescentAdapter</key>
	<string>restartPermanentStepBase</string>
	<key>setEasyNameType</key>
	<string>setIgnoredTextureList</string>
	<key>setEphemeralSliderPool</key>
	<string>discoverReusableParticleCache</string>
</dict>
</plist>
