<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalBackwardMissionFactory</key>
	<string>setGranularScalabilityProtocol</string>
	<key>stopNextSceneTarget</key>
	<string>restartConcurrentRowTarget</string>
	<key>stopSpecifyGridGroup</key>
	<string>resumePrimaryTentativeType</string>
</dict>
</plist>
