<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSmallVarCreator</key>
	<string>cleanIgnoredTempleFactory</string>
	<key>continueDirectOperationOwner</key>
	<string>setNextCenterArray</string>
	<key>finishDirectlyRotationTarget</key>
	<string>getActivatedNumberManager</string>
	<key>getPriorParameterStack</key>
	<string>resumeDedicatedCenterType</string>
	<key>resumeMultiTopicManager</key>
	<string>releaseBackwardStyleCache</string>
	<key>setCurrentChecklistFactory</key>
	<string>checkDifficultVarManager</string>
	<key>setSmallExponentExtension</key>
	<string>initializePriorIndexHandler</string>
	<key>trainAssociatedSpineCache</key>
	<string>convertStandaloneTopImplement</string>
	<key>trainLargeVariableFactory</key>
	<string>prepareSubsequentFragmentHelper</string>
</dict>
</plist>
