<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareSortedTempleBase</key>
	<string>poolPermanentCenterExtension</string>
	<key>conformDelicateStyleDelegate</key>
	<string>getSharedGrainCreator</string>
	<key>initializeSynchronousOriginCreator</key>
	<string>endRetainedTextureList</string>
	<key>limitSortedSkewYReference</key>
	<string>retrieveEphemeralColorType</string>
	<key>mitigateAutoBufferCollection</key>
	<string>getRetainedMonsterFactory</string>
	<key>resumeBeginnerGiftCollection</key>
	<string>drawNewestLeftFactory</string>
	<key>setResilientIndexTarget</key>
	<string>stopLocalTechniqueCache</string>
</dict>
</plist>
