<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedGlobalVarHandler</key>
	<string>playStandaloneAmortizationObserver</string>
	<key>pauseAutoTempleFilter</key>
	<string>retrieveSymmetricVolumeHelper</string>
	<key>pauseSubsequentFlagsImplement</key>
	<string>playSeamlessFrameArray</string>
	<key>playNumericalCertificateType</key>
	<string>restartGlobalMasterFactory</string>
	<key>trainUniqueRecursionGroup</key>
	<string>replaceSymmetricParamContainer</string>
</dict>
</plist>
