<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSynchronousSkewYCache</key>
	<string>stopSustainableVarType</string>
	<key>conformDiscardedTailFilter</key>
	<string>seekStandaloneMetricsCollection</string>
	<key>keepPivotalGrainGroup</key>
	<string>setSynchronousMendList</string>
	<key>prepareSemanticSliderDelegate</key>
	<string>setPermissiveVarTarget</string>
</dict>
</plist>
