<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encapsulateHierarchicalUtilInstance</key>
	<string>getPermanentViewList</string>
	<key>endNormalHeadOwner</key>
	<string>eraseDiscardedSymbolOwner</string>
	<key>exitActivatedValueManager</key>
	<string>startSecondTagFactory</string>
	<key>exitDisplayableBinaryGroup</key>
	<string>getLargeToleranceCache</string>
	<key>getDifficultChapterHelper</key>
	<string>getPermanentClusterStack</string>
	<key>getMainNumberPool</key>
	<string>endGreatBufferPool</string>
	<key>getStaticPetProtocol</key>
	<string>getCurrentTimelineFilter</string>
	<key>lockExplicitImpressionHandler</key>
	<string>startDisplayableLabelManager</string>
	<key>resumeSubsequentVariableCollection</key>
	<string>getUsedPlaybackCreator</string>
	<key>rotateSymmetricSpriteInstance</key>
	<string>setSpecifyStyleDecorator</string>
</dict>
</plist>
