<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addSynchronousGridTarget</key>
	<string>setConcreteColorInstance</string>
	<key>conformPrismaticMaterialOwner</key>
	<string>setLostTopHelper</string>
	<key>mitigateConcurrentViewBase</key>
	<string>keepNormalAllocatorPool</string>
	<key>pauseGranularIndicatorManager</key>
	<string>setRequiredCharacteristicProtocol</string>
	<key>restartCrudeInterfaceList</key>
	<string>trainCurrentExponentType</string>
	<key>stopSustainableProfileBase</key>
	<string>obtainLastSignFactory</string>
</dict>
</plist>
