<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustOpaqueResolverImplement</key>
	<string>pauseSpecifyItemProtocol</string>
	<key>conformCriticalRowTarget</key>
	<string>getUnactivatedSkewYAdapter</string>
	<key>decoupleSimilarParamReference</key>
	<string>getLiteMusicCreator</string>
	<key>endSubsequentRowInstance</key>
	<string>setNewestSkewXGroup</string>
	<key>getOtherMetadataManager</key>
	<string>setNumericalParameterArray</string>
	<key>getSingleValueCache</key>
	<string>getSemanticImagePool</string>
	<key>setMediumParticleBase</key>
	<string>stopDelicateHashHelper</string>
</dict>
</plist>
