<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedDifficultValueProtocol</key>
	<string>enhanceAssociatedConstantFilter</string>
	<key>getCartesianFrameStack</key>
	<string>getCriticalQueueCollection</string>
	<key>getPrimaryBorderBase</key>
	<string>syncAsynchronousTimelineManager</string>
	<key>multiplyAdvancedStyleInstance</key>
	<string>markDirectlyTopicBase</string>
	<key>resizeCustomParameterInstance</key>
	<string>getNumericalTempleCreator</string>
	<key>setIntuitiveBufferManager</key>
	<string>enhanceReusableLatencyContainer</string>
</dict>
</plist>
