<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureDirectlyTechniqueTarget</key>
	<string>insteadResilientFlagsProtocol</string>
	<key>finishGreatValueHandler</key>
	<string>restartSortedCaptionImplement</string>
	<key>getPivotalTagManager</key>
	<string>initializeExplicitVarFilter</string>
	<key>getStaticVarDelegate</key>
	<string>getStaticVisibleOwner</string>
	<key>initializeSubtleSkinObserver</key>
	<string>initializeCustomNumberStack</string>
	<key>reflectNumericalEdgeObserver</key>
	<string>findDisplayableNumberObserver</string>
	<key>restartOtherBufferGroup</key>
	<string>skipDirectlyMechanismHandler</string>
	<key>upgradeEnabledAllocatorTarget</key>
	<string>getDiscardedTempleArray</string>
</dict>
</plist>
