<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getMainCycleDecorator</key>
	<string>resumeSustainablePositionBase</string>
	<key>obtainEasyDescentCollection</key>
	<string>undertakePrevSpecifierPool</string>
	<key>setMediumVectorStack</key>
	<string>setFirstScaleDelegate</string>
</dict>
</plist>
