<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateAccordionParamContainer</key>
	<string>trainAutoCoordinatorDelegate</string>
	<key>getReusableArithmeticHelper</key>
	<string>resumeDelicateParamFactory</string>
	<key>keepNewestVariableCreator</key>
	<string>getIntermediateLeftHandler</string>
	<key>multiplyCrudeNumberContainer</key>
	<string>stopSmallDocumentManager</string>
	<key>setTensorInfrastructureList</key>
	<string>setOriginalVariableContainer</string>
	<key>stopDeclarativeUtilCollection</key>
	<string>keepNextVarProtocol</string>
</dict>
</plist>
