<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentPermanentNormArray</key>
	<string>startUsedMendDelegate</string>
	<key>cancelReusableBrushType</key>
	<string>releaseIgnoredVariableManager</string>
	<key>cleanPermissiveGroupHelper</key>
	<string>trainSingleTimelineOwner</string>
	<key>getPrimaryExponentArray</key>
	<string>getGlobalLeftBase</string>
	<key>setPriorCompositionReference</key>
	<string>moveUnactivatedMusicCreator</string>
</dict>
</plist>
