<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawCurrentLeftCache</key>
	<string>restoreNewestTraversalPool</string>
	<key>getDedicatedSpotList</key>
	<string>prepareHardValueFactory</string>
	<key>getLastVariantTarget</key>
	<string>readRobustResolverTarget</string>
	<key>lockReusableConsumptionDecorator</key>
	<string>getSubstantialZoneType</string>
	<key>resumeStaticGroupDelegate</key>
	<string>pauseMultiMaterialReference</string>
</dict>
</plist>
