<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishNormalGridObserver</key>
	<string>setRetainedVarBase</string>
	<key>setConsultativeAspectStack</key>
	<string>checkSignificantLabelInstance</string>
	<key>setGreatTernaryHandler</key>
	<string>getTypicalSizeType</string>
	<key>setSignificantRightCollection</key>
	<string>endMissedBottomHandler</string>
</dict>
</plist>
