<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encapsulateDelicateLoaderDecorator</key>
	<string>removeUniqueBaseCollection</string>
	<key>getMultiTweakHandler</key>
	<string>getEuclideanGraphTarget</string>
	<key>getPrimaryTextContainer</key>
	<string>getSemanticVolumeExtension</string>
	<key>pauseDelicateElasticityTarget</key>
	<string>restartPriorRowHandler</string>
	<key>skipConsultativeNumberBase</key>
	<string>getDirectlyPlateDecorator</string>
</dict>
</plist>
