<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureUsedMusicBase</key>
	<string>initializeDifficultOriginFilter</string>
	<key>keepResilientGroupCache</key>
	<string>pauseCartesianParameterArray</string>
	<key>pauseKeyIndexStack</key>
	<string>setGreatLeftHelper</string>
	<key>setExplicitBrushPool</key>
	<string>visitCommonParamTarget</string>
	<key>setReusableParamInstance</key>
	<string>restartPrismaticFormatTarget</string>
	<key>setSubstantialBufferStack</key>
	<string>conformDifficultZoneCollection</string>
	<key>startOldTextureGroup</key>
	<string>syncAccessibleMultiplicationArray</string>
</dict>
</plist>
