<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelGlobalAssetAdapter</key>
	<string>continueHardDescriptionFactory</string>
	<key>dividePriorTailType</key>
	<string>setSymmetricVariableType</string>
	<key>setSubsequentEdgeExtension</key>
	<string>eraseCrucialSampleOwner</string>
</dict>
</plist>
