<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getNumericalParamList</key>
	<string>cancelBackwardIntegrityGroup</string>
	<key>pauseIndependentNumberAdapter</key>
	<string>pauseSharedScaleCreator</string>
	<key>reduceSpecifyIntegerObserver</key>
	<string>multiplyConcurrentCapsuleManager</string>
</dict>
</plist>
