<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachLargeRightHelper</key>
	<string>skipDelicateTrianglesTarget</string>
	<key>getBeginnerMetadataExtension</key>
	<string>restartCustomTitleGroup</string>
	<key>initializeMediocreSkewYAdapter</key>
	<string>generateRetainedVariableObserver</string>
	<key>setDeclarativeOpacityType</key>
	<string>cleanSophisticatedEdgeFactory</string>
</dict>
</plist>
