<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getUniformDimensionCollection</key>
	<string>skipLargeCenterOwner</string>
	<key>pauseDirectlyVarDelegate</key>
	<string>enumeratePrismaticParamContainer</string>
	<key>pausePermissiveBufferArray</key>
	<string>removeArithmeticTextureProtocol</string>
	<key>poolArithmeticTempleHelper</key>
	<string>quantizerEphemeralSkewYBase</string>
	<key>rotateEphemeralImpressionHandler</key>
	<string>getDenseGrainList</string>
	<key>setSimilarVideoBase</key>
	<string>stopRapidEquivalentDelegate</string>
	<key>setSpecifyDepthOwner</key>
	<string>getLastEvolutionExtension</string>
	<key>trainSpecifyRemediationAdapter</key>
	<string>retrieveCriticalMenuReference</string>
</dict>
</plist>
