<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enhanceRelationalAspectGroup</key>
	<string>keepLiteSampleExtension</string>
	<key>getDirectlyTextureHandler</key>
	<string>setMissedNameAdapter</string>
	<key>getHyperbolicLeftPool</key>
	<string>conformNormalLabelReference</string>
	<key>prepareDeclarativeParamTarget</key>
	<string>resumeHardTextureReference</string>
	<key>stopMissedCompositionPool</key>
	<string>equalBasicModuleAdapter</string>
	<key>trainGlobalLayoutReference</key>
	<string>setResilientInitiatorsDecorator</string>
</dict>
</plist>
