<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSeamlessTempleCollection</key>
	<string>keepSharedStyleCreator</string>
	<key>getOldChapterStack</key>
	<string>getConsultativePopupArray</string>
	<key>getPriorNormImplement</key>
	<string>initializeFusedFlagsList</string>
	<key>resumeKeyColorStack</key>
	<string>pauseProtectedGridManager</string>
	<key>resumeSemanticLabelCreator</key>
	<string>getDeclarativeScaleProtocol</string>
	<key>skipIndependentRectangleAdapter</key>
	<string>allocateConcurrentFrameFactory</string>
</dict>
</plist>
