<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimizeDelicateStatusHandler</key>
	<string>setSmallTextCreator</string>
	<key>pauseGlobalEvolutionCache</key>
	<string>setGranularSizeDelegate</string>
	<key>playCartesianMetadataObserver</key>
	<string>setSymmetricParameterCreator</string>
	<key>refreshConcurrentBufferReference</key>
	<string>enumerateCriticalPopupGroup</string>
	<key>skipDisplayableQueueCollection</key>
	<string>setEasyValueAdapter</string>
</dict>
</plist>
