<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDelicateVolumeCollection</key>
	<string>combineIntuitiveCharacterHelper</string>
	<key>getReusableTaxonomyList</key>
	<string>startRapidValueGroup</string>
	<key>limitSpecifyGraphArray</key>
	<string>getSecondChannelsPool</string>
	<key>lockGlobalStrengthArray</key>
	<string>wrapCustomEquipmentCollection</string>
	<key>restartBasicBufferImplement</key>
	<string>startSymmetricSliderFilter</string>
	<key>setSynchronousFlagsFactory</key>
	<string>getCriticalEqualizationType</string>
</dict>
</plist>
