<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayMultiTempleCreator</key>
	<string>setLastShapeExtension</string>
	<key>getAgileNameDelegate</key>
	<string>getResilientConfigurationArray</string>
	<key>resumeHardScaleCreator</key>
	<string>analyzeCartesianAssetManager</string>
	<key>setMediumNodeProtocol</key>
	<string>setPublicBinaryPool</string>
	<key>setNewestTweakFilter</key>
	<string>restartNumericalObserverCreator</string>
	<key>visitBackwardPreviewAdapter</key>
	<string>stopSemanticCenterDecorator</string>
</dict>
</plist>
