<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishNormalCycleList</key>
	<string>stopPivotalCoordFactory</string>
	<key>getAccordionLogList</key>
	<string>startStaticVariableArray</string>
	<key>getDiscardedNameProtocol</key>
	<string>trainAgileIndexGroup</string>
	<key>getEphemeralSkewYHelper</key>
	<string>setCurrentQuaternionOwner</string>
	<key>keepCartesianBufferPool</key>
	<string>trainUnsortedBoundBase</string>
	<key>restartDirectFrameList</key>
	<string>cloneOriginalColorTarget</string>
	<key>setUnactivatedExponentFilter</key>
	<string>getCriticalSkewXObserver</string>
	<key>skipSingleParamDelegate</key>
	<string>pauseRobustMendFactory</string>
</dict>
</plist>
