<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPrimaryFlagsType</key>
	<string>endAsynchronousParameterArray</string>
	<key>compareMultiFeatureCollection</key>
	<string>computeBackwardProjectAdapter</string>
	<key>continueLastStampFactory</key>
	<string>getMediumProvisionType</string>
	<key>continueLostWorkflowExtension</key>
	<string>setDelicateRowManager</string>
	<key>setFirstNumberCollection</key>
	<string>scheduleEnabledTitleDelegate</string>
	<key>transposeCartesianFrameExtension</key>
	<string>getCurrentAssetCache</string>
</dict>
</plist>
