<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeComprehensiveTailHelper</key>
	<string>continueOtherNameFactory</string>
	<key>getHardFormatFilter</key>
	<string>dismissMutableReferenceInstance</string>
	<key>getNumericalAnimationFactory</key>
	<string>setMainReliabilityAdapter</string>
	<key>initializeNumericalValueDecorator</key>
	<string>navigateRapidButtonCreator</string>
	<key>pauseMutableIndexStack</key>
	<string>showUsedVarCollection</string>
	<key>setMutableDescriptionArray</key>
	<string>resumeOriginalLeftCollection</string>
</dict>
</plist>
