<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPrevBufferOwner</key>
	<string>searchDedicatedApertureExtension</string>
	<key>keepArithmeticSkewYGroup</key>
	<string>revisitDedicatedMechanismDelegate</string>
	<key>reconcileSubstantialTimeImplement</key>
	<string>getBasicPositionPool</string>
	<key>rotateSecondVideoReference</key>
	<string>checkActivatedCycleCollection</string>
	<key>setMissedCubeOwner</key>
	<string>startGreatStyleGroup</string>
</dict>
</plist>
