<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSingleLeftOwner</key>
	<string>getLocalValueHelper</string>
	<key>initializeIndependentSizeList</key>
	<string>getResilientVariableOwner</string>
	<key>reflectResilientSkinDelegate</key>
	<string>extendMainSpriteCache</string>
	<key>setDirectlyImpressionCollection</key>
	<string>revisitGranularThroughputObserver</string>
	<key>setOpaqueControllerFactory</key>
	<string>setKeyIndexExtension</string>
	<key>setUnactivatedClusterTarget</key>
	<string>getIntermediateArithmeticObserver</string>
	<key>trainOriginalHashDecorator</key>
	<string>getSubstantialLayerHelper</string>
</dict>
</plist>
