<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateAgileRotationTarget</key>
	<string>parseSignificantVariableFilter</string>
	<key>getSortedPolygonProtocol</key>
	<string>retainStandaloneTempleBase</string>
	<key>restartMediumParameterInstance</key>
	<string>finishIgnoredCoordAdapter</string>
	<key>setPriorBufferInstance</key>
	<string>getSortedShaderHandler</string>
	<key>startFirstLayerInstance</key>
	<string>generatePublicHashImplement</string>
</dict>
</plist>
