<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateSubtleCatalystBase</key>
	<string>convertImmutableGridStack</string>
	<key>getLastParamPool</key>
	<string>startSubstantialContrastExtension</string>
	<key>getSingleTempleDecorator</key>
	<string>getPermanentRendererAdapter</string>
	<key>stopStandaloneTempleBase</key>
	<string>stopCriticalAllocatorArray</string>
	<key>wrapStandaloneValueList</key>
	<string>setOpaqueTopicTarget</string>
</dict>
</plist>
