<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueMediumStyleProtocol</key>
	<string>getProtectedBorderReference</string>
	<key>renameRespectiveCompositionOwner</key>
	<string>setSmallIntensityGroup</string>
	<key>restoreHardBoxDecorator</key>
	<string>cancelSortedObserverStack</string>
	<key>setExplicitFlagsDelegate</key>
	<string>discoverNumericalZoneContainer</string>
	<key>skipExplicitStyleManager</key>
	<string>stopIntuitiveButtonFilter</string>
</dict>
</plist>
