<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawDirectViewCache</key>
	<string>continueLocalVolumeOwner</string>
	<key>setCriticalTentativeAdapter</key>
	<string>skipDirectlyStrengthFactory</string>
	<key>setSubstantialMonsterType</key>
	<string>cancelDisparateBufferCreator</string>
	<key>upgradeMissedBottomOwner</key>
	<string>regulateReusableStyleArray</string>
</dict>
</plist>
