<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelResilientBaseDelegate</key>
	<string>setIntermediateMobileStack</string>
	<key>detachUnactivatedPositionCreator</key>
	<string>embraceLocalOriginOwner</string>
	<key>embedDirectSliderCache</key>
	<string>initializeSingleThreadDelegate</string>
	<key>mitigateCartesianCubeProtocol</key>
	<string>keepAdvancedValueFilter</string>
	<key>obtainHierarchicalSpriteCollection</key>
	<string>resumeGeometricBatchFilter</string>
	<key>pauseIgnoredContrastObserver</key>
	<string>resumeUniqueReliabilityCollection</string>
	<key>restartAssociatedVarDelegate</key>
	<string>setImmutableMomentumImplement</string>
	<key>touchEasyQueuePool</key>
	<string>skipImmutablePaddingArray</string>
</dict>
</plist>
