<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSecondDepthExtension</key>
	<string>setNewestNormCollection</string>
	<key>keepConcreteDescriptionAdapter</key>
	<string>getIntermediateCenterCache</string>
	<key>storeSubtleInfoObserver</key>
	<string>setNormalGraphObserver</string>
</dict>
</plist>
