<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDifficultShapeBase</key>
	<string>keepStaticLayerContainer</string>
	<key>reconcileCustomQueueDecorator</key>
	<string>captureKeyNumberAdapter</string>
	<key>renameOpaqueEdgeHandler</key>
	<string>revisitConcreteTempleFactory</string>
	<key>setSingleFlagsPool</key>
	<string>getOtherSizeInstance</string>
	<key>undertakeComprehensiveBufferHandler</key>
	<string>resumeSortedTempleGroup</string>
</dict>
</plist>
