<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatePrimaryVarDelegate</key>
	<string>transposeSmallBorderReference</string>
	<key>continueConcurrentViewManager</key>
	<string>locateDisparateVisibleAdapter</string>
	<key>keepMissedUtilType</key>
	<string>setExplicitLeftHandler</string>
	<key>quitBasicBufferArray</key>
	<string>touchExplicitColorImplement</string>
</dict>
</plist>
