<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustKeyInterfaceTarget</key>
	<string>stopDirectMissionList</string>
	<key>checkCustomFrameCreator</key>
	<string>shearSubtleRectangleProtocol</string>
	<key>continueUniformObjectGroup</key>
	<string>readRapidVarExtension</string>
	<key>getExplicitBorderExtension</key>
	<string>embraceReusableMetadataAdapter</string>
	<key>getTensorParamImplement</key>
	<string>playReusableDocumentList</string>
	<key>setConcreteRotationObserver</key>
	<string>getBeginnerParticleBase</string>
	<key>setDelicateMultiplicationBase</key>
	<string>combineRelationalParamCreator</string>
	<key>setPivotalZoneProtocol</key>
	<string>prepareUsedCosineHandler</string>
	<key>setSubtleSkinArray</key>
	<string>getEphemeralInformationHelper</string>
</dict>
</plist>
