<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawConsultativeCapacityFactory</key>
	<string>finishAdvancedBorderArray</string>
	<key>setAsynchronousBottomCollection</key>
	<string>setFusedRotationProtocol</string>
	<key>setPrevBorderType</key>
	<string>visitSpecifyQueueAdapter</string>
</dict>
</plist>
