<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateSemanticBufferInstance</key>
	<string>quitPrimaryMenuCache</string>
	<key>enumerateStaticMultiplicationBase</key>
	<string>quantizerDirectlyVariableManager</string>
	<key>finishPublicValueStack</key>
	<string>keepCommonVarFilter</string>
	<key>getProtectedStampType</key>
	<string>reflectMissedVariableObserver</string>
	<key>getUsedNameExtension</key>
	<string>getSubsequentVarHandler</string>
	<key>pauseRapidAnalogyList</key>
	<string>trainImmutableColorStack</string>
	<key>prepareNumericalMetadataList</key>
	<string>trainTensorParameterCollection</string>
	<key>reflectLargeValueCreator</key>
	<string>cancelFirstParameterCollection</string>
	<key>skipSpecifyRowFactory</key>
	<string>setSustainableCertificateFilter</string>
</dict>
</plist>
