<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateAccordionTempleCache</key>
	<string>combineRetainedHeadCache</string>
	<key>endSimilarTempleHelper</key>
	<string>getStandaloneDocumentCollection</string>
	<key>fillSeamlessBufferInstance</key>
	<string>getAccordionHashCreator</string>
	<key>getResilientMechanismReference</key>
	<string>prepareOpaqueBoundFactory</string>
	<key>refreshDisparateProjectionCreator</key>
	<string>getProtectedBulletReference</string>
	<key>requestCustomOpacityBase</key>
	<string>accelerateEuclideanRightProtocol</string>
	<key>setGranularMetadataInstance</key>
	<string>requestSubsequentButtonFactory</string>
	<key>skipAsynchronousStyleHelper</key>
	<string>accelerateOldMaterialObserver</string>
</dict>
</plist>
