<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHierarchicalPlaybackExtension</key>
	<string>getDisplayableFlagsImplement</string>
	<key>getNextHashDecorator</key>
	<string>getConcurrentParameterCreator</string>
	<key>keepKeyUtilDelegate</key>
	<string>getCommonContractionHandler</string>
	<key>readUnsortedVisibleDecorator</key>
	<string>reconcileCrucialMapProtocol</string>
	<key>reconcileStandaloneVarCreator</key>
	<string>getSubsequentIndexArray</string>
	<key>setDeclarativeCompositionAdapter</key>
	<string>restartLostColorInstance</string>
	<key>setPrismaticShaderCache</key>
	<string>initializeOpaqueValueInstance</string>
	<key>stopHierarchicalSchedulerCache</key>
	<string>exitSmallInfrastructureAdapter</string>
	<key>upgradeSpecifyVarManager</key>
	<string>getSharedBufferHelper</string>
</dict>
</plist>
