<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateSynchronousTextureList</key>
	<string>setPriorProvisionCache</string>
	<key>getDiscardedPointContainer</key>
	<string>resetRelationalModulusContainer</string>
	<key>getSmartMovementCache</key>
	<string>finishPrismaticIntegerList</string>
	<key>initializeGeometricEffectGroup</key>
	<string>pauseDiscardedElasticityList</string>
	<key>navigateRapidInterfaceGroup</key>
	<string>prepareBasicCardType</string>
	<key>skipSubstantialNavigationBase</key>
	<string>getDeclarativeVarArray</string>
</dict>
</plist>
