<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverUnsortedScalabilityDelegate</key>
	<string>reflectEasyInterfaceInstance</string>
	<key>keepDirectVertexType</key>
	<string>setNewestZoneExtension</string>
	<key>quantizationFirstNumberCache</key>
	<string>showCartesianBottomObserver</string>
	<key>setIgnoredSubpixelContainer</key>
	<string>reconcileCommonVolumeGroup</string>
	<key>setSemanticSceneBase</key>
	<string>getMutableValueDelegate</string>
	<key>skipAccordionSymbolDecorator</key>
	<string>getSpecifyNameOwner</string>
</dict>
</plist>
