<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareElasticActivityInstance</key>
	<string>restartEasyConfigurationProtocol</string>
	<key>getKeyMobileImplement</key>
	<string>setSymmetricChapterHandler</string>
	<key>getMutableImpressionCache</key>
	<string>exitUniqueVariableType</string>
	<key>getPrismaticRightFilter</key>
	<string>skipHierarchicalViewInstance</string>
	<key>upgradeUniqueStyleInstance</key>
	<string>refreshDiversifiedColorStack</string>
</dict>
</plist>
