<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyUnsortedExponentType</key>
	<string>computeComprehensiveCenterType</string>
	<key>getUnactivatedVectorOwner</key>
	<string>pauseUniqueTechniqueInstance</string>
	<key>getUniqueNumberContainer</key>
	<string>preparePermissiveMenuHelper</string>
	<key>keepRetainedConfigurationHandler</key>
	<string>setOldAllocatorCreator</string>
	<key>setMutableBoundFilter</key>
	<string>offsetSignificantAssetType</string>
	<key>setResilientDescentAdapter</key>
	<string>eraseLastNavigationContainer</string>
	<key>startFirstZoneGroup</key>
	<string>finishExplicitNumberGroup</string>
	<key>trainAutoModelBase</key>
	<string>setOldShaderBase</string>
</dict>
</plist>
