<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelEphemeralMissionArray</key>
	<string>parseEasySizeAdapter</string>
	<key>floatRelationalTailExtension</key>
	<string>skipGeometricSchemaStack</string>
	<key>getTensorChartManager</key>
	<string>embedSymmetricVariableDecorator</string>
	<key>initializeFirstCoordType</key>
	<string>getDisparateBufferCreator</string>
</dict>
</plist>
