<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishIgnoredNameType</key>
	<string>transposeRobustConsumptionReference</string>
	<key>limitLiteModulusHandler</key>
	<string>resumePublicVarBase</string>
	<key>moveUsedFormatCache</key>
	<string>shearEphemeralLoaderObserver</string>
	<key>obtainCriticalHeadBase</key>
	<string>floatEuclideanTimePool</string>
	<key>searchReusableAspectOwner</key>
	<string>getPrismaticSliderCache</string>
	<key>storeCommonAspectPool</key>
	<string>pauseImmutableButtonAdapter</string>
</dict>
</plist>
