<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHardVarAdapter</key>
	<string>getSortedAssetStack</string>
	<key>cancelSubtleColorAdapter</key>
	<string>initializeDelicateOperationTarget</string>
	<key>continueIntermediateMendProtocol</key>
	<string>finishSortedInterfacePool</string>
	<key>createCrudeAspectCreator</key>
	<string>continuePivotalNumberDecorator</string>
	<key>setUnsortedNumberManager</key>
	<string>getPrevAmortizationOwner</string>
</dict>
</plist>
