<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelBasicCharacteristicContainer</key>
	<string>initializeIterativeVarHelper</string>
	<key>getGranularProgressBarHelper</key>
	<string>keepLastValuePool</string>
	<key>searchSubtleDispatcherDecorator</key>
	<string>resumeCriticalStrengthList</string>
	<key>startRequiredIndexList</key>
	<string>obtainSeamlessNumberTarget</string>
	<key>syncSmartViewStack</key>
	<string>pushSecondLogarithmCache</string>
</dict>
</plist>
