<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAdvancedLeftAdapter</key>
	<string>trainUniqueCaptionManager</string>
	<key>continuePrismaticIndexList</key>
	<string>initializePrimaryAllocatorBase</string>
	<key>getTypicalRectangleHandler</key>
	<string>setOpaqueColorList</string>
	<key>initializeActivatedEventInstance</key>
	<string>setEasyOriginCreator</string>
	<key>obtainBasicNumberFactory</key>
	<string>finishStaticTopBase</string>
	<key>requestSortedMenuAdapter</key>
	<string>mitigateIterativeCaptionList</string>
	<key>retainPrevTextType</key>
	<string>getCrudeModelOwner</string>
	<key>setDedicatedStrengthList</key>
	<string>setCrucialProgressBarArray</string>
</dict>
</plist>
