<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDedicatedParamStack</key>
	<string>pauseCartesianColorList</string>
	<key>getAutoSignObserver</key>
	<string>startTensorVariableStack</string>
	<key>getKeyVarList</key>
	<string>drawNextRectManager</string>
	<key>getSynchronousResultGroup</key>
	<string>prepareConsultativeParamTarget</string>
	<key>keepDenseNumberHandler</key>
	<string>getEuclideanLayoutFilter</string>
	<key>setNextMendDelegate</key>
	<string>getMediumBufferHelper</string>
	<key>stopDisparateSkewXReference</key>
	<string>seekSemanticInfoExtension</string>
	<key>touchUnactivatedVarAdapter</key>
	<string>extendGranularMeshPool</string>
</dict>
</plist>
