<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setConsultativeNumberHelper</key>
	<string>streamlineMutableSymbolExtension</string>
	<key>setIntermediateVectorReference</key>
	<string>resumePrismaticToleranceCreator</string>
	<key>setPublicOpacityExtension</key>
	<string>quantizationUniqueVarExtension</string>
	<key>setUniqueVarGroup</key>
	<string>cancelUniqueSlashHelper</string>
	<key>visitIgnoredMovementHandler</key>
	<string>finishExplicitScaleCollection</string>
	<key>visitRelationalVarExtension</key>
	<string>initializeSustainableSizeCache</string>
</dict>
</plist>
