<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateMainAudioExtension</key>
	<string>setNormalSkewXStack</string>
	<key>clipAgileSkewXProtocol</key>
	<string>setActivatedParameterCollection</string>
	<key>getConcurrentLoopArray</key>
	<string>locateDisplayableTitleObserver</string>
	<key>keepSmallFeatureCollection</key>
	<string>stopCurrentCoordDelegate</string>
	<key>keepUniqueTimeFactory</key>
	<string>startSophisticatedPositionReference</string>
	<key>reflectPriorRightImplement</key>
	<string>getAsynchronousVariableArray</string>
	<key>requestPrimaryDataType</key>
	<string>pauseCurrentRouteList</string>
</dict>
</plist>
