<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateArithmeticBandwidthTarget</key>
	<string>aggregateConsultativeSymbolHandler</string>
	<key>eraseReusableBufferInstance</key>
	<string>skipAsynchronousPermutationCache</string>
	<key>parseIntermediateRemediationFactory</key>
	<string>setEuclideanNumberArray</string>
	<key>quantizerHardRectCache</key>
	<string>setHyperbolicVarImplement</string>
	<key>requestAccessibleGrainCache</key>
	<string>setMediumCubeManager</string>
	<key>setSubtleAxisType</key>
	<string>getConcreteTempleCollection</string>
</dict>
</plist>
