<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeAdvancedBufferFactory</key>
	<string>detachNumericalEvaluationType</string>
	<key>limitDisparateTentativeHelper</key>
	<string>finishGlobalNumberBase</string>
	<key>reduceHierarchicalInterfaceList</key>
	<string>getPrevParameterPool</string>
	<key>regulateDiscardedTopTarget</key>
	<string>syncNumericalDurationPool</string>
	<key>restartAccessibleInterfaceProtocol</key>
	<string>getPrismaticParameterHandler</string>
	<key>startPrimaryLatencyAdapter</key>
	<string>setSmartFlagsCache</string>
	<key>upgradeSymmetricProjectCache</key>
	<string>appendSignificantRotationType</string>
</dict>
</plist>
