<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPublicObjectGroup</key>
	<string>releaseDenseThresholdStack</string>
	<key>getMultiVertexTarget</key>
	<string>setDisparateTimeProtocol</string>
	<key>getReusableMemberDelegate</key>
	<string>embedAccordionNameExtension</string>
	<key>setDelicateCoordInstance</key>
	<string>keepSecondRestrictionBase</string>
	<key>startNormalMomentumList</key>
	<string>cancelAutoNumberBase</string>
</dict>
</plist>
