<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateSharedIntensityFactory</key>
	<string>getSimilarRemediationPool</string>
	<key>cancelCriticalCoordOwner</key>
	<string>visitUniqueCenterObserver</string>
	<key>cancelMediumArithmeticExtension</key>
	<string>accelerateProtectedVariableArray</string>
	<key>discoverLastTempleHandler</key>
	<string>getAccordionTaxonomyOwner</string>
	<key>getRobustOptionDelegate</key>
	<string>setConcurrentGateAdapter</string>
	<key>setEphemeralBufferInstance</key>
	<string>markBasicEdgeFactory</string>
	<key>skipRobustVariableContainer</key>
	<string>getConcreteInitiatorsHelper</string>
</dict>
</plist>
