<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitNewestContrastList</key>
	<string>trainNormalVariableInstance</string>
	<key>getAccessibleEquipmentFilter</key>
	<string>stopDedicatedBoundImplement</string>
	<key>getOriginalSkewYPool</key>
	<string>stopRelationalBufferTarget</string>
	<key>restartSemanticSpecifierBase</key>
	<string>exitDelicateQueueManager</string>
	<key>stopFirstMendProtocol</key>
	<string>setSignificantLeftImplement</string>
</dict>
</plist>
