<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverIntuitiveVarPool</key>
	<string>keepSubsequentRendererManager</string>
	<key>insteadPivotalTempleManager</key>
	<string>trainRetainedNumberCache</string>
	<key>setRapidValueCollection</key>
	<string>dropoutStaticViewFilter</string>
	<key>stopTensorTextureTarget</key>
	<string>getSophisticatedZoneProtocol</string>
</dict>
</plist>
