<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDiscardedTopicBase</key>
	<string>searchGranularSpriteProtocol</string>
	<key>fillLocalVariableBase</key>
	<string>cancelUniqueRecursionOwner</string>
	<key>getIterativeIndexExtension</key>
	<string>extendUsedHashDecorator</string>
	<key>getNextConfigurationType</key>
	<string>startDisplayablePointGroup</string>
	<key>initializeDiversifiedDepthObserver</key>
	<string>detachDelicateCurveOwner</string>
	<key>prepareAssociatedProvisionDecorator</key>
	<string>setAgileParticleTarget</string>
	<key>rectifyHardSizeDelegate</key>
	<string>getKeyRightDelegate</string>
	<key>resizePrimaryCenterCache</key>
	<string>getNewestIntegerInstance</string>
	<key>skipEnabledParameterFilter</key>
	<string>setSimilarParameterReference</string>
</dict>
</plist>
