<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelSymmetricFeatureFactory</key>
	<string>offsetKeyBufferExtension</string>
	<key>checkBackwardCurveBase</key>
	<string>setPublicBufferFactory</string>
	<key>getSemanticScaleOwner</key>
	<string>insteadDelicateNumberInstance</string>
	<key>multiplyDifficultResultExtension</key>
	<string>makeDiscardedToolDelegate</string>
	<key>setNumericalValueContainer</key>
	<string>writeDedicatedScenarioType</string>
	<key>setOldRemediationObserver</key>
	<string>findPublicFrameImplement</string>
	<key>trainHierarchicalSpecifierPool</key>
	<string>trainCurrentLabelCreator</string>
</dict>
</plist>
