<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addDiscardedResolverDecorator</key>
	<string>setPriorLabelDelegate</string>
	<key>aggregateDiscardedVariableAdapter</key>
	<string>skipSustainableRightOwner</string>
	<key>endLocalScenePool</key>
	<string>enhanceResilientAllocatorType</string>
	<key>getCustomRightObserver</key>
	<string>finishCurrentSizePool</string>
	<key>getGlobalDialogsDelegate</key>
	<string>readPriorSizeArray</string>
	<key>getLastTaxonomyExtension</key>
	<string>cancelSymmetricValuePool</string>
	<key>initializeUnsortedVariableHandler</key>
	<string>allocateAccessibleSpecifierHelper</string>
	<key>restartCurrentBufferObserver</key>
	<string>visitRetainedNumberHelper</string>
	<key>setPriorChapterHelper</key>
	<string>continueBeginnerMediaList</string>
</dict>
</plist>
