<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateSpecifyVariableObserver</key>
	<string>extendSubstantialRecursionCache</string>
	<key>getDeclarativeEfficiencyOwner</key>
	<string>eraseEnabledEdgeHelper</string>
	<key>getEuclideanNumberFactory</key>
	<string>getRelationalSpriteArray</string>
	<key>initializeDeclarativeRotationFilter</key>
	<string>resumeOtherMatrixBase</string>
	<key>obtainMissedSliderProtocol</key>
	<string>getCommonLayerArray</string>
	<key>setDiscardedModelCache</key>
	<string>pauseDisplayableRotationCreator</string>
	<key>setSharedKernelInstance</key>
	<string>getStaticDescriptionReference</string>
	<key>skipSmartSubpixelStack</key>
	<string>getEnabledEventAdapter</string>
</dict>
</plist>
