<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>respondOriginalBoxArray</key>
	<string>getDirectlyTaskDelegate</string>
	<key>setAutoThresholdDelegate</key>
	<string>getKeyProgressBarInstance</string>
	<key>setDeclarativeSizeArray</key>
	<string>generateSimilarVarArray</string>
	<key>setIterativeParameterList</key>
	<string>setLargeParameterExtension</string>
</dict>
</plist>
