<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createExplicitSkewYTarget</key>
	<string>getMultiChapterCache</string>
	<key>getEphemeralVariableList</key>
	<string>setSubstantialTextureContainer</string>
	<key>getFirstEquivalentStack</key>
	<string>finishAssociatedBorderList</string>
	<key>getHierarchicalBottomInstance</key>
	<string>allocateSemanticBaselineInstance</string>
	<key>getNormalCachePool</key>
	<string>getCommonGridOwner</string>
	<key>getOpaqueOriginFactory</key>
	<string>getSortedInitiativeFactory</string>
	<key>getSubsequentVariableContainer</key>
	<string>setIgnoredVarOwner</string>
	<key>provideUnactivatedTraversalHandler</key>
	<string>trainLocalBulletDecorator</string>
	<key>skipCartesianCenterManager</key>
	<string>trainOriginalTopTarget</string>
</dict>
</plist>
