<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCustomPlaybackFilter</key>
	<string>spinLastRotationPool</string>
	<key>dropoutIntermediateUnaryArray</key>
	<string>getSeamlessTitleManager</string>
	<key>getLostPositionArray</key>
	<string>pauseIntuitiveValueDelegate</string>
	<key>getRequiredPositionOwner</key>
	<string>quantizationImmutableNodeObserver</string>
	<key>initializeAssociatedNumberAdapter</key>
	<string>getResilientBorderOwner</string>
	<key>seekMissedTailPool</key>
	<string>getTensorGrainPool</string>
	<key>setOriginalStylePool</key>
	<string>getConcreteNumberCreator</string>
	<key>setRetainedSceneOwner</key>
	<string>initializeNewestColorProtocol</string>
	<key>streamlineMultiInstructionHandler</key>
	<string>conformGreatRotationExtension</string>
</dict>
</plist>
