<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverSharedNumberReference</key>
	<string>moveSortedEffectCreator</string>
	<key>displayGeometricBoundExtension</key>
	<string>getSynchronousScaleDelegate</string>
	<key>equalRelationalColorContainer</key>
	<string>limitAsynchronousListenerDelegate</string>
	<key>finishPublicParamAdapter</key>
	<string>finishCartesianTaskPool</string>
	<key>getExplicitStrengthExtension</key>
	<string>getSmallSizeTarget</string>
	<key>keepFirstAmortizationCreator</key>
	<string>startCriticalEffectReference</string>
	<key>pauseUnsortedProgressBarType</key>
	<string>schedulePivotalNumberStack</string>
	<key>setProtectedBottomObserver</key>
	<string>multiplySmallGridType</string>
	<key>startMissedOccasionObserver</key>
	<string>endDenseTailTarget</string>
</dict>
</plist>
