<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>escalateLiteIntegrationFactory</key>
	<string>setTypicalParamGroup</string>
	<key>getElasticModuleExtension</key>
	<string>navigateIgnoredSkewYDelegate</string>
	<key>getNormalParticleArray</key>
	<string>setCartesianValueList</string>
	<key>replaceLocalEquivalentDelegate</key>
	<string>setSymmetricDocumentList</string>
	<key>resumeRetainedKernelAdapter</key>
	<string>getPermanentSpriteGroup</string>
	<key>setHierarchicalFeatureList</key>
	<string>decoupleOtherMenuManager</string>
</dict>
</plist>
