<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineExplicitTextObserver</key>
	<string>restartProtectedSceneCache</string>
	<key>exitSmallSegmentDecorator</key>
	<string>keepMediumParameterHelper</string>
	<key>restartSecondFrameReference</key>
	<string>setConsultativeTempleCache</string>
	<key>skipCommonRectangleOwner</key>
	<string>storeGlobalLogarithmPool</string>
	<key>startExplicitHeadFilter</key>
	<string>clipSmallGrayscaleAdapter</string>
	<key>startHardParamType</key>
	<string>pushBasicSizeHandler</string>
	<key>trainConcurrentShaderContainer</key>
	<string>prepareLastAmortizationGroup</string>
</dict>
</plist>
