<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDifficultTopicContainer</key>
	<string>quitOldAnalogyCollection</string>
	<key>encapsulateHyperbolicValueReference</key>
	<string>setOldTimeStack</string>
	<key>getHierarchicalToolCache</key>
	<string>continueDenseCenterHelper</string>
	<key>getReusableLeftExtension</key>
	<string>markHardDepthManager</string>
	<key>initializeCustomBinaryFactory</key>
	<string>unscheduleUsedBufferFactory</string>
	<key>startSemanticSpriteTarget</key>
	<string>skipDiversifiedSkirtStack</string>
	<key>stopSeamlessBorderDecorator</key>
	<string>getMultiGridManager</string>
</dict>
</plist>
