<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepComprehensiveGridContainer</key>
	<string>endSynchronousValueReference</string>
	<key>keepSingleHeadBase</key>
	<string>freeCartesianQueueDelegate</string>
	<key>prepareDirectSubpixelObserver</key>
	<string>generateEphemeralStatusGroup</string>
	<key>prepareGeometricChallengeGroup</key>
	<string>cancelBasicInterfaceCreator</string>
	<key>setPermanentTechniqueTarget</key>
	<string>resizeUniformAxisAdapter</string>
	<key>setStaticComponentContainer</key>
	<string>keepSeamlessRowExtension</string>
	<key>startDiscardedBaselineHelper</key>
	<string>initializeEnabledEdgeImplement</string>
</dict>
</plist>
