<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelPriorParamHandler</key>
	<string>rotateSimilarElasticityGroup</string>
	<key>getOtherCenterHandler</key>
	<string>skipDiversifiedDepthFactory</string>
	<key>scheduleMultiModulusCache</key>
	<string>stopCustomMonsterManager</string>
	<key>setSymmetricCacheHelper</key>
	<string>resumePublicVarAdapter</string>
	<key>startOtherCenterProtocol</key>
	<string>insteadEphemeralSizeContainer</string>
	<key>touchDelicateMovementProtocol</key>
	<string>touchSignificantFragmentsList</string>
</dict>
</plist>
