<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustEphemeralChapterTarget</key>
	<string>continueAccessibleThresholdFactory</string>
	<key>getNormalMetricsProtocol</key>
	<string>getDiscardedCharacterType</string>
	<key>getPrimaryVarGroup</key>
	<string>finishDiversifiedKernelPool</string>
	<key>setDisparateToolPool</key>
	<string>skipAccessibleHashCollection</string>
</dict>
</plist>
