<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMainBoundHandler</key>
	<string>addAccessibleRectCreator</string>
	<key>destroyOldNodeArray</key>
	<string>getDelicateImpressionStack</string>
	<key>embracePublicRouteCache</key>
	<string>setCriticalEdgeList</string>
	<key>locateUniformCacheCollection</key>
	<string>combineIntuitiveParamList</string>
	<key>prepareOldParameterManager</key>
	<string>augmentIntuitiveActivityInstance</string>
	<key>restartSubsequentOriginList</key>
	<string>endHierarchicalScaleOwner</string>
	<key>restartSubsequentShaderManager</key>
	<string>locateActivatedMenuContainer</string>
	<key>setSimilarTagHelper</key>
	<string>getSecondValueCreator</string>
	<key>spinStaticBufferType</key>
	<string>retainSophisticatedZoneInstance</string>
</dict>
</plist>
