<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSortedObserverOwner</key>
	<string>getSingleSkewXDecorator</string>
	<key>getStandaloneRemainderTarget</key>
	<string>keepPriorVariableExtension</string>
	<key>releaseTensorListenerGroup</key>
	<string>cleanIndependentValueCollection</string>
</dict>
</plist>
