<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSecondImageObserver</key>
	<string>getOriginalConfidentialityDelegate</string>
	<key>reflectRetainedComponentExtension</key>
	<string>clearComprehensiveTextureFilter</string>
	<key>setPermissiveTempleType</key>
	<string>setSingleLayoutHandler</string>
	<key>setStaticPlaybackOwner</key>
	<string>initializeBasicLabelPool</string>
</dict>
</plist>
