<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capturePermissiveDescriptionArray</key>
	<string>optimizeBeginnerSliderPool</string>
	<key>finishComprehensiveParamStack</key>
	<string>initializeSimilarCoordCache</string>
	<key>getSignificantScaleTarget</key>
	<string>optimizeStandaloneFragmentsFilter</string>
	<key>getStandaloneRendererStack</key>
	<string>continueAutoEventCollection</string>
	<key>setCustomizedLayerAdapter</key>
	<string>keepGranularOpacityType</string>
	<key>setSemanticOperationBase</key>
	<string>setOtherBufferAdapter</string>
	<key>skipRelationalEdgeArray</key>
	<string>pausePermanentRotationExtension</string>
	<key>startMissedTempleHelper</key>
	<string>getCustomizedInterpolationFilter</string>
	<key>startSignificantRightArray</key>
	<string>setHyperbolicValueAdapter</string>
</dict>
</plist>
