<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepSmartTentativeType</key>
	<string>generateEphemeralNumberBase</string>
	<key>rectifyPermanentCursorCollection</key>
	<string>drawSynchronousFlagsGroup</string>
</dict>
</plist>
