<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachSharedNamePool</key>
	<string>setRespectiveParameterInstance</string>
	<key>finishCrucialParamExtension</key>
	<string>convertSecondStrengthHelper</string>
	<key>getAsynchronousBufferImplement</key>
	<string>skipSubstantialInfoContainer</string>
	<key>getLastVariableCollection</key>
	<string>skipMediumTopHelper</string>
	<key>resetSymmetricStyleAdapter</key>
	<string>resumeReusableLabelOwner</string>
	<key>setDelicatePrecisionObserver</key>
	<string>getLastInterpolationAdapter</string>
	<key>setNextTrianglesDelegate</key>
	<string>reduceElasticPrecisionGroup</string>
</dict>
</plist>
