<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getBeginnerFeatureDelegate</key>
	<string>drawCurrentResolverFilter</string>
	<key>getTensorTempleReference</key>
	<string>continueSubstantialSceneCollection</string>
	<key>locateOriginalParameterCreator</key>
	<string>unlockTypicalCoordHandler</string>
	<key>moveLastNodePool</key>
	<string>setUsedInterpolationAdapter</string>
</dict>
</plist>
