<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endOtherIndexPool</key>
	<string>cancelCartesianPopupStack</string>
	<key>finishAccessibleScaleDelegate</key>
	<string>setSortedParamInstance</string>
	<key>setMediumParamAdapter</key>
	<string>setRequiredWorkflowHandler</string>
	<key>skipConcreteTailObserver</key>
	<string>getFirstRowFactory</string>
	<key>storeGlobalTextureCreator</key>
	<string>eraseDirectGroupManager</string>
</dict>
</plist>
