<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getEphemeralIndicatorInstance</key>
	<string>getKeyFlagsOwner</string>
	<key>initializeIntermediateLeftAdapter</key>
	<string>startCartesianNumberArray</string>
	<key>startElasticParticleOwner</key>
	<string>reflectImmutableCapsuleContainer</string>
</dict>
</plist>
