<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getGranularLeftFactory</key>
	<string>getGlobalLayerList</string>
	<key>readRelationalAssetTarget</key>
	<string>getHyperbolicAscentArray</string>
	<key>setMediocreRightHandler</key>
	<string>upgradeOpaqueOperationHelper</string>
	<key>setMultiBaselineFactory</key>
	<string>setAccordionTailOwner</string>
	<key>setPermanentPriorityReference</key>
	<string>keepNormalRotationContainer</string>
</dict>
</plist>
