<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustGlobalVariableFilter</key>
	<string>getSecondVisibleContainer</string>
	<key>augmentNewestLatencyFactory</key>
	<string>skipRapidObjectInstance</string>
	<key>getAgileEvolutionHelper</key>
	<string>keepHierarchicalValueStack</string>
	<key>getRespectiveRendererReference</key>
	<string>getTensorBufferContainer</string>
	<key>setEasyVisibleStack</key>
	<string>setLostConfigurationStack</string>
	<key>setSeamlessEdgeManager</key>
	<string>continueTensorResourceStack</string>
	<key>setSharedGridHandler</key>
	<string>getCustomLeftCreator</string>
	<key>skipNewestVariableExtension</key>
	<string>startUsedAccessoryDecorator</string>
	<key>skipSynchronousVideoProtocol</key>
	<string>generateCartesianTextContainer</string>
</dict>
</plist>
