<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeAccessibleFrameHelper</key>
	<string>floatSubsequentChapterType</string>
	<key>compareSemanticDeliveryOwner</key>
	<string>keepDeclarativeTextList</string>
	<key>destroyCriticalNumberTarget</key>
	<string>getSubsequentTitleDelegate</string>
	<key>divideSharedSkewXCollection</key>
	<string>setSingleProgressBarHandler</string>
	<key>getEphemeralMasterList</key>
	<string>getSharedOriginDelegate</string>
	<key>getUniformLeftContainer</key>
	<string>restartSubsequentMatrixDelegate</string>
	<key>retrieveConsultativeResourceArray</key>
	<string>stopAutoVariableGroup</string>
	<key>setNormalUtilTarget</key>
	<string>regulateActivatedNumberPool</string>
	<key>setSynchronousKernelManager</key>
	<string>setSimilarBoundHandler</string>
</dict>
</plist>
