<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawOldVarFilter</key>
	<string>shearAutoScaleArray</string>
	<key>escalateSynchronousTempleFactory</key>
	<string>setLocalBufferStack</string>
	<key>getMediumBandwidthTarget</key>
	<string>reduceDifficultTraversalTarget</string>
	<key>initializeSynchronousMeshProtocol</key>
	<string>endSmallSessionInstance</string>
	<key>prepareProtectedVarType</key>
	<string>animateEuclideanLoopGroup</string>
	<key>setActivatedSineManager</key>
	<string>dissociatePriorValueAdapter</string>
</dict>
</plist>
