<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepEuclideanSpriteOwner</key>
	<string>initializeAutoSizeCache</string>
	<key>offsetSubstantialVarTarget</key>
	<string>readCrucialFlagsGroup</string>
	<key>quitMultiBoundBase</key>
	<string>prepareMainTempleAdapter</string>
	<key>reduceSymmetricBottomContainer</key>
	<string>setRelationalMechanismOwner</string>
	<key>setDenseFrameExtension</key>
	<string>setEnabledQuaternionObserver</string>
	<key>setDifficultComponentCreator</key>
	<string>providePublicSineContainer</string>
</dict>
</plist>
