<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateSophisticatedPreviewHandler</key>
	<string>getDiversifiedCoordCache</string>
	<key>cancelMediocreVariableArray</key>
	<string>resumeMutableMenuType</string>
	<key>continueGreatInfoObserver</key>
	<string>cancelSharedTempleCreator</string>
	<key>continueUsedSpotManager</key>
	<string>pauseRespectiveInterfaceFactory</string>
	<key>endGlobalZoneHandler</key>
	<string>reduceConcurrentTempleCollection</string>
	<key>getPrismaticMaterialGroup</key>
	<string>touchFusedSessionFilter</string>
	<key>readStaticMaterialReference</key>
	<string>divideTensorSkewYExtension</string>
	<key>setMutableOccasionFactory</key>
	<string>retrieveCriticalViewCreator</string>
	<key>setSpecifyMissionProtocol</key>
	<string>trainNewestTopicOwner</string>
	<key>setSpecifyTopicType</key>
	<string>resizeDeclarativeReplicaContainer</string>
</dict>
</plist>
