<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelEphemeralTailInstance</key>
	<string>getLargeInfrastructureProtocol</string>
	<key>cancelExplicitVarCache</key>
	<string>continueNumericalVideoDelegate</string>
	<key>getPivotalArchitectureInstance</key>
	<string>compareProtectedDescriptionHandler</string>
	<key>restartPivotalProgressBarOwner</key>
	<string>getEnabledApertureCreator</string>
	<key>skipPermissiveSceneCache</key>
	<string>requestTypicalUsageList</string>
</dict>
</plist>
