<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAgileScopeProtocol</key>
	<string>setFusedMapCache</string>
	<key>getStandaloneEdgeInstance</key>
	<string>skipDirectIndexReference</string>
	<key>setSubstantialChecklistContainer</key>
	<string>setDiversifiedScaleGroup</string>
</dict>
</plist>
