<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateRapidSkewXBase</key>
	<string>setBeginnerBinaryCache</string>
	<key>drawIndependentColorContainer</key>
	<string>spinDelicateCubeHandler</string>
	<key>getAssociatedNumberDecorator</key>
	<string>calculateSignificantFlagsHelper</string>
	<key>playDiscardedParameterStack</key>
	<string>limitNewestIndexReference</string>
	<key>releaseAdvancedSkewYTarget</key>
	<string>finishSymmetricButtonImplement</string>
	<key>releaseDenseBufferStack</key>
	<string>setEnabledTextureCollection</string>
	<key>setGreatSignatureExtension</key>
	<string>generateOpaqueParameterGroup</string>
</dict>
</plist>
