<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissBackwardFlagsFactory</key>
	<string>restartSemanticNumberFactory</string>
	<key>navigateAutoScaleDecorator</key>
	<string>getRobustTexturePool</string>
	<key>pauseEphemeralHashManager</key>
	<string>parseImmutableDepthDelegate</string>
	<key>pauseLiteNormOwner</key>
	<string>setExplicitNumberStack</string>
	<key>rotateAgileGiftProtocol</key>
	<string>resumeAdvancedImpressionReference</string>
	<key>setCrudeTimelineBase</key>
	<string>setGeometricTopInstance</string>
</dict>
</plist>
