<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueCrudeNumberHelper</key>
	<string>analyzeDirectCardStack</string>
	<key>eraseAdvancedParameterBase</key>
	<string>generateSemanticKernelCache</string>
	<key>readNewestValueDelegate</key>
	<string>finishPivotalOptionBase</string>
</dict>
</plist>
