<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addNumericalBufferType</key>
	<string>getGranularStepOwner</string>
	<key>continueEuclideanNumberExtension</key>
	<string>displayIntermediateCoordExtension</string>
	<key>continueExplicitBinaryAdapter</key>
	<string>updateDirectActionTarget</string>
	<key>embracePriorQueueFactory</key>
	<string>visitDirectBandwidthHandler</string>
	<key>endSmallConsumptionBase</key>
	<string>setImmutableTempleImplement</string>
	<key>getNormalCapacityFilter</key>
	<string>analyzeTypicalBottomDecorator</string>
	<key>getSynchronousSliderType</key>
	<string>divideOtherStepCache</string>
	<key>limitUniformEventGroup</key>
	<string>pauseBeginnerCycleBase</string>
	<key>preparePrevParameterCreator</key>
	<string>touchSpecifyLeftFilter</string>
	<key>setDiscardedTagContainer</key>
	<string>introspectLostSizeDelegate</string>
</dict>
</plist>
