<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelGreatCompositionArray</key>
	<string>getDisplayableIntegrityHandler</string>
	<key>readSymmetricDescriptionHandler</key>
	<string>resizeNormalNameCreator</string>
	<key>setIntuitiveNumberFilter</key>
	<string>equalMutableDepthProtocol</string>
	<key>startDiversifiedCaptionExtension</key>
	<string>endGreatIndexGroup</string>
	<key>syncNewestRightGroup</key>
	<string>syncCrucialBehaviorArray</string>
</dict>
</plist>
