<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustRapidTrajectoryExtension</key>
	<string>getSimilarNumberPool</string>
	<key>endAgileVarBase</key>
	<string>setPermanentBehaviorOwner</string>
	<key>getMissedToleranceArray</key>
	<string>embraceLocalParameterType</string>
	<key>initializeAgileInterpolationFactory</key>
	<string>setNumericalTopicCache</string>
	<key>restartLargeMetadataCache</key>
	<string>releaseHardGemAdapter</string>
	<key>setFusedThresholdBase</key>
	<string>combineRobustSoundDelegate</string>
</dict>
</plist>
