<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearIgnoredIntegrityManager</key>
	<string>endCrudeScenarioFactory</string>
	<key>continueAutoEquivalentImplement</key>
	<string>cancelReusableValueAdapter</string>
	<key>getPivotalControllerManager</key>
	<string>resumeAgileVariableHandler</string>
	<key>getReusableRotationCreator</key>
	<string>stopDirectMomentumProtocol</string>
	<key>keepGreatBufferProtocol</key>
	<string>equalBackwardMemberExtension</string>
	<key>pushGeometricLeftReference</key>
	<string>pauseAsynchronousSchedulerContainer</string>
	<key>setCrudeTempleHelper</key>
	<string>initializePrimaryOriginDelegate</string>
	<key>skipProtectedQueueHandler</key>
	<string>getPrimaryRectManager</string>
	<key>touchDisplayableVarReference</key>
	<string>drawFirstCatalystBase</string>
</dict>
</plist>
