<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>augmentSignificantLeftList</key>
	<string>setHardAxisBase</string>
	<key>freeSubtleDescriptorBase</key>
	<string>poolHierarchicalTempleAdapter</string>
	<key>introspectLargeConstantManager</key>
	<string>renameExplicitRotationHelper</string>
	<key>readStaticVariableCreator</key>
	<string>getTensorReductionObserver</string>
</dict>
</plist>
