<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedAsynchronousLayerPool</key>
	<string>setElasticDescriptionDecorator</string>
	<key>eraseDisparateGrayscaleFilter</key>
	<string>upgradeSophisticatedResultHelper</string>
	<key>getCartesianDescriptionContainer</key>
	<string>readSubstantialScaleDelegate</string>
	<key>stopDirectHeadStack</key>
	<string>fillDeclarativeReliabilityContainer</string>
</dict>
</plist>
