<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endCommonMemberDelegate</key>
	<string>startPermissiveAlphaExtension</string>
	<key>getNormalCenterPool</key>
	<string>getSemanticSchedulerFilter</string>
	<key>initializeOtherDeliveryExtension</key>
	<string>appendFusedBufferTarget</string>
	<key>keepLocalArchitectureStack</key>
	<string>keepDenseUtilCreator</string>
	<key>setCommonBitrateDecorator</key>
	<string>trainSustainableRotationArray</string>
	<key>setConsultativeFlagsCache</key>
	<string>enhanceKeyParamCache</string>
	<key>setFirstRotationDecorator</key>
	<string>resumeAdvancedHeadFactory</string>
	<key>undertakePrismaticGraphHandler</key>
	<string>offsetPrismaticBufferHandler</string>
</dict>
</plist>
