<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initializeDirectGridHelper</key>
	<string>getEnabledRotationOwner</string>
	<key>initializeSmallTitleCollection</key>
	<string>setSemanticColorPool</string>
	<key>pauseSophisticatedTextDecorator</key>
	<string>pauseEnabledStyleFilter</string>
	<key>reflectDiversifiedRecursionGroup</key>
	<string>pausePivotalDimensionTarget</string>
	<key>setRetainedInitiatorsCreator</key>
	<string>getBackwardMendList</string>
	<key>setSmallBrushPool</key>
	<string>restartMediumParameterCache</string>
</dict>
</plist>
