<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkKeyMatrixHandler</key>
	<string>getSeamlessTrianglesContainer</string>
	<key>initializeBeginnerNumberArray</key>
	<string>stopConsultativeDialogsList</string>
	<key>moveCriticalTemplePool</key>
	<string>trainSharedOperationHandler</string>
	<key>seekPivotalQueueDecorator</key>
	<string>setUnsortedPreviewGroup</string>
</dict>
</plist>
