<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelNewestDistinctionGroup</key>
	<string>equalIgnoredBufferCollection</string>
	<key>continueAssociatedVarBase</key>
	<string>getCustomTempleAdapter</string>
	<key>pauseDelicateGateInstance</key>
	<string>pauseFirstVisibleInstance</string>
	<key>pauseHierarchicalTopDelegate</key>
	<string>setIntuitiveParameterArray</string>
	<key>restartFirstEvaluationCreator</key>
	<string>augmentDedicatedNumberDelegate</string>
	<key>setEuclideanBottomManager</key>
	<string>shearLargeValueHandler</string>
	<key>stopAccordionEffectGroup</key>
	<string>setDifficultMomentumManager</string>
	<key>trainDirectlyFrameType</key>
	<string>setLargeTopicList</string>
</dict>
</plist>
