<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getNumericalToleranceList</key>
	<string>analyzeReusableVarObserver</string>
	<key>keepAdvancedImageHelper</key>
	<string>cancelCrucialBorderFactory</string>
	<key>prepareSpecifyVarCollection</key>
	<string>setIndependentValueTarget</string>
	<key>quantizationRetainedGroupArray</key>
	<string>getPrevColorObserver</string>
	<key>setOpaqueInformationProtocol</key>
	<string>setUnactivatedTweakDelegate</string>
</dict>
</plist>
