<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelIterativeObjectFilter</key>
	<string>trainCommonAssetOwner</string>
	<key>continueDedicatedDataExtension</key>
	<string>continueStaticBufferCollection</string>
	<key>dismissTensorDataDecorator</key>
	<string>restartSecondTempleOwner</string>
	<key>equalEasyTweakArray</key>
	<string>finishActivatedVariableStack</string>
	<key>getTensorUtilOwner</key>
	<string>showNextThroughputContainer</string>
	<key>pauseKeyTailDelegate</key>
	<string>setUniformChannelsOwner</string>
	<key>setKeyPreviewAdapter</key>
	<string>respondSymmetricValueProtocol</string>
	<key>setSophisticatedExponentBase</key>
	<string>restartConcurrentBufferProtocol</string>
	<key>setUnactivatedObjectDelegate</key>
	<string>encapsulateCrucialDepthCollection</string>
</dict>
</plist>
