<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineFirstLabelOwner</key>
	<string>setLiteOriginProtocol</string>
	<key>executeStandaloneNumberList</key>
	<string>visitSimilarOriginExtension</string>
	<key>getIgnoredGrayscaleInstance</key>
	<string>cancelAccessibleValueObserver</string>
	<key>getSpecifyPositionTarget</key>
	<string>cancelProtectedVariableContainer</string>
	<key>getStandaloneQueueBase</key>
	<string>getSemanticDepthFactory</string>
	<key>keepCurrentNumberInstance</key>
	<string>restartProtectedParticleTarget</string>
	<key>resumeLiteReductionObserver</key>
	<string>computeRobustStrokeExtension</string>
	<key>setKeyMultiplicationFilter</key>
	<string>endPriorEqualizationObserver</string>
</dict>
</plist>
