<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPermissiveCubeExtension</key>
	<string>finishPriorOptionOwner</string>
	<key>getAssociatedConvolutionObserver</key>
	<string>getIntermediateSchedulerFilter</string>
	<key>getComprehensiveAllocatorList</key>
	<string>getDirectEvaluationContainer</string>
	<key>resumeNewestInteractionAdapter</key>
	<string>cancelStandaloneTempleBase</string>
	<key>setPrevSpriteFactory</key>
	<string>dropoutOpaqueParamInstance</string>
	<key>setSharedNumberType</key>
	<string>keepFusedBottomGroup</string>
	<key>skipConsultativeAmortizationType</key>
	<string>getArithmeticHistogramArray</string>
	<key>trainPriorPetHandler</key>
	<string>setIgnoredFragmentsProtocol</string>
</dict>
</plist>
