<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dismissSemanticValueList</key>
	<string>continueSymmetricEvolutionManager</string>
	<key>moveNewestVarList</key>
	<string>setIterativeMatrixInstance</string>
	<key>setAccordionGridGroup</key>
	<string>startDiscardedInfoPool</string>
	<key>skipArithmeticParamImplement</key>
	<string>getLocalNameDecorator</string>
	<key>visitCartesianTempleImplement</key>
	<string>streamlineTypicalReplicaBase</string>
</dict>
</plist>
