<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertAutoTempleContainer</key>
	<string>destroyBasicStyleDelegate</string>
	<key>createGeometricOpacityInstance</key>
	<string>startRapidFlagsAdapter</string>
	<key>getAsynchronousBufferFilter</key>
	<string>parseTypicalMapContainer</string>
	<key>getRobustValueManager</key>
	<string>setMediumRecursionStack</string>
	<key>limitSharedParamManager</key>
	<string>pauseGeometricToleranceArray</string>
	<key>navigatePrevStateOwner</key>
	<string>touchIgnoredResolverCollection</string>
	<key>pauseRespectiveCenterDecorator</key>
	<string>startHierarchicalVisibleArray</string>
	<key>quantizerCrucialCursorHandler</key>
	<string>getSubstantialAssetType</string>
	<key>restoreDifficultNameCreator</key>
	<string>resumeSubsequentChannelsReference</string>
	<key>startAccordionTailArray</key>
	<string>restartSustainableGroupFilter</string>
</dict>
</plist>
