<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getFusedResolverDecorator</key>
	<string>showStaticPrecisionProtocol</string>
	<key>getGeometricBottomStack</key>
	<string>getPrevRectFilter</string>
	<key>reconcilePrimaryOptimizerBase</key>
	<string>spinIgnoredEvaluationInstance</string>
	<key>retainAccordionDisclaimerHandler</key>
	<string>getPublicAnimationReference</string>
	<key>rotateUniqueCenterType</key>
	<string>skipFirstParameterBase</string>
	<key>setEphemeralThresholdFactory</key>
	<string>continueSeamlessFlagsTarget</string>
	<key>startLastDescriptionCreator</key>
	<string>setSharedAmortizationCollection</string>
	<key>startPrimaryMonsterHelper</key>
	<string>keepDenseGridType</string>
</dict>
</plist>
