<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateRequiredProvisionTarget</key>
	<string>pauseDelicateItemFilter</string>
	<key>getIterativeBorderBase</key>
	<string>allocateHierarchicalParamDecorator</string>
	<key>readAccessibleValuePool</key>
	<string>stopCrucialDescriptionContainer</string>
	<key>stopSubstantialLossCollection</key>
	<string>setRequiredRotationBase</string>
	<key>syncAsynchronousArithmeticStack</key>
	<string>locateIndependentChartReference</string>
</dict>
</plist>
