<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateCartesianParamPool</key>
	<string>markCriticalVarExtension</string>
	<key>acceleratePrismaticResultContainer</key>
	<string>quantizationSubtleTopDecorator</string>
	<key>cancelUniqueCenterHelper</key>
	<string>equalCustomizedParamList</string>
	<key>resetSecondMusicPool</key>
	<string>encapsulateUniformInitiatorsManager</string>
	<key>setAccessibleOpacityReference</key>
	<string>prepareAssociatedCurveObserver</string>
	<key>setAutoGraphCache</key>
	<string>initializeSymmetricBrushContainer</string>
	<key>setBeginnerTailAdapter</key>
	<string>scheduleBeginnerScopeType</string>
	<key>setKeyTangentGroup</key>
	<string>divideReusableAudioContainer</string>
	<key>stopCustomizedToolReference</key>
	<string>poolSemanticTextureHandler</string>
</dict>
</plist>
