<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenateReusableTagReference</key>
	<string>obtainUnsortedMenuOwner</string>
	<key>finishSubsequentSpritePool</key>
	<string>getProtectedDialogsFilter</string>
	<key>navigateEasyStepType</key>
	<string>setConcreteTaskCollection</string>
	<key>respondAssociatedLogarithmObserver</key>
	<string>pauseGlobalResilienceBase</string>
	<key>resumeReusableNodeList</key>
	<string>stopOtherParameterExtension</string>
	<key>setRetainedValueStack</key>
	<string>escalateAsynchronousFlagsHelper</string>
	<key>trainCrucialSizeGroup</key>
	<string>setMultiOperationBase</string>
</dict>
</plist>
