<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseBasicPetCache</key>
	<string>setNormalEfficiencyObserver</string>
	<key>pauseUnsortedEvolutionAdapter</key>
	<string>prepareSubsequentRightCollection</string>
	<key>setComprehensiveHashManager</key>
	<string>trainConcurrentHeadFactory</string>
	<key>visitIndependentValueOwner</key>
	<string>setSmallVisibleContainer</string>
</dict>
</plist>
