<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueAssociatedSchemaOwner</key>
	<string>getCurrentLoaderCache</string>
	<key>dropoutRapidObjectAdapter</key>
	<string>skipRetainedEquivalentFilter</string>
	<key>prepareTypicalTailCreator</key>
	<string>finishSpecifyParamGroup</string>
	<key>regulateCustomizedOriginCollection</key>
	<string>setLargeColorType</string>
	<key>restartOpaqueBaselineProtocol</key>
	<string>endSubsequentOccasionType</string>
	<key>setSortedNumberHelper</key>
	<string>prepareUniformTopStack</string>
	<key>storeSeamlessChartDelegate</key>
	<string>poolSimilarNameFilter</string>
</dict>
</plist>
