<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pauseCartesianBufferObserver</key>
	<string>getCustomNumberOwner</string>
	<key>setIntermediateBufferManager</key>
	<string>getSophisticatedPopupCollection</string>
	<key>storeDisparateSignatureType</key>
	<string>prepareHardContractionManager</string>
	<key>storeSustainableSignHandler</key>
	<string>freeNewestValueCollection</string>
</dict>
</plist>
