<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>insteadDiversifiedHashGroup</key>
	<string>getMediocreTaskFilter</string>
	<key>markExplicitResilienceArray</key>
	<string>shearRequiredVectorTarget</string>
	<key>offsetMediocreBottomReference</key>
	<string>prepareHyperbolicTopCreator</string>
	<key>restartRetainedTailManager</key>
	<string>setImmutableVariableObserver</string>
</dict>
</plist>
