<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateDisplayableTopicCache</key>
	<string>setGreatSkewXFilter</string>
	<key>equalPivotalAnimationContainer</key>
	<string>detachAgileDetailObserver</string>
	<key>lockNextOptimizerInstance</key>
	<string>endSemanticThreadContainer</string>
	<key>prepareDelicateResolverProtocol</key>
	<string>trainSimilarButtonBase</string>
	<key>prepareSemanticPopupInstance</key>
	<string>cancelMediumStrokeFactory</string>
</dict>
</plist>
