<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDedicatedBufferTarget</key>
	<string>setSharedAxisImplement</string>
	<key>compareAgileInterfaceImplement</key>
	<string>getSynchronousRecursionHandler</string>
	<key>getIntuitiveRangeBase</key>
	<string>stopSharedParameterAdapter</string>
	<key>getSortedEdgeList</key>
	<string>endSeamlessTweakPool</string>
	<key>limitGreatParameterDecorator</key>
	<string>setReusableNumberOwner</string>
	<key>prepareDisplayableMapPool</key>
	<string>getDirectlyVisibleReference</string>
	<key>retainGlobalChapterCreator</key>
	<string>touchCrudeQueueObserver</string>
	<key>setDenseModelOwner</key>
	<string>associateRequiredBottomStack</string>
	<key>setOldParameterDelegate</key>
	<string>finishCrucialDescriptionList</string>
</dict>
</plist>
