<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateGreatBufferDecorator</key>
	<string>enumerateDisplayableInterfaceArray</string>
	<key>clearCustomizedViewArray</key>
	<string>endPrevRotationObserver</string>
	<key>keepGeometricValuePool</key>
	<string>dropoutSingleTextOwner</string>
	<key>locateEasyIndexStack</key>
	<string>getIterativeIndexImplement</string>
</dict>
</plist>
