<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelUniqueNormInstance</key>
	<string>setTensorPositionProtocol</string>
	<key>endGranularComponentList</key>
	<string>dismissPivotalProgressBarStack</string>
	<key>endOtherIntegrationObserver</key>
	<string>setAccordionFragmentsObserver</string>
	<key>keepDirectTempleTarget</key>
	<string>getPrismaticActionCreator</string>
	<key>restoreHyperbolicParameterExtension</key>
	<string>getHierarchicalScreenInstance</string>
	<key>resumeRespectiveSceneHelper</key>
	<string>getOpaqueValueInstance</string>
	<key>skipCustomBottomStack</key>
	<string>setMutableListenerProtocol</string>
	<key>startDeclarativeValueCollection</key>
	<string>startMissedUnaryList</string>
</dict>
</plist>
