<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateArithmeticHeapManager</key>
	<string>finishEnabledLeftFactory</string>
	<key>conformMainPopupHandler</key>
	<string>getImmutableResilienceAdapter</string>
	<key>encapsulateOpaqueResolverCreator</key>
	<string>trainPriorSlashFactory</string>
	<key>exitBackwardInitiatorsTarget</key>
	<string>initializeCrucialBoundDecorator</string>
	<key>getProtectedIndexInstance</key>
	<string>finishNormalAllocatorAdapter</string>
	<key>moveCriticalValueFactory</key>
	<string>restartFirstZoneObserver</string>
	<key>pauseIntermediateBoundCollection</key>
	<string>animateGreatEntropyHandler</string>
	<key>setPermanentVarGroup</key>
	<string>stopExplicitSizeCache</string>
	<key>stopSustainableMobileStack</key>
	<string>finishRequiredPopupManager</string>
</dict>
</plist>
