<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateOldTagBase</key>
	<string>getCustomizedLeftProtocol</string>
	<key>endPrimaryPositionCache</key>
	<string>resumeOpaqueFrameOwner</string>
	<key>finishCurrentHashDecorator</key>
	<string>floatEuclideanMenuFactory</string>
	<key>getEphemeralCharacteristicProtocol</key>
	<string>syncTypicalMomentumFilter</string>
	<key>provideUniqueLeftType</key>
	<string>pauseRequiredSymbolContainer</string>
	<key>setCrucialScalePool</key>
	<string>setRetainedBufferCreator</string>
	<key>setSubstantialInformationManager</key>
	<string>getPriorImageReference</string>
	<key>stopDirectlyEventFactory</key>
	<string>retrievePriorParameterHelper</string>
	<key>storeOldBufferGroup</key>
	<string>setRapidQueueFilter</string>
</dict>
</plist>
