<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDeclarativeMemberBase</key>
	<string>dissociateIndependentEdgeContainer</string>
	<key>cancelDelicateSignFilter</key>
	<string>conformTypicalConfigurationProtocol</string>
	<key>fillSharedInfoManager</key>
	<string>writeFusedModuleReference</string>
	<key>setGranularParamPool</key>
	<string>getPrismaticPositionArray</string>
	<key>stopDirectlyQueueCollection</key>
	<string>getStaticRecursionGroup</string>
</dict>
</plist>
