<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discoverAccessiblePlaybackFilter</key>
	<string>getExplicitNameDelegate</string>
	<key>dropoutAccessibleGroupOwner</key>
	<string>setGlobalTempleOwner</string>
	<key>holdProtectedObjectExtension</key>
	<string>endNewestCenterType</string>
	<key>initializeStandaloneSkewXBase</key>
	<string>prepareRobustOriginTarget</string>
	<key>navigateSingleGiftPool</key>
	<string>prepareSeamlessParamReference</string>
	<key>playLostVarFilter</key>
	<string>getEasyInterpolationPool</string>
	<key>preparePermissiveRightCache</key>
	<string>analyzeRelationalValueProtocol</string>
	<key>reconcileArithmeticFlagsCollection</key>
	<string>setSophisticatedCapsuleCreator</string>
	<key>setOriginalNotationObserver</key>
	<string>writeLastToolCreator</string>
	<key>skipMutableAlphaCreator</key>
	<string>stopAssociatedDescentCollection</string>
</dict>
</plist>
