<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishLostParamDelegate</key>
	<string>endTensorBufferFilter</string>
	<key>floatCriticalValueProtocol</key>
	<string>getRetainedTopContainer</string>
	<key>getDiscardedToleranceDecorator</key>
	<string>stopMediocreMomentumObserver</string>
	<key>keepDenseLeftObserver</key>
	<string>setMissedFeatureDecorator</string>
	<key>setRequiredStyleCollection</key>
	<string>divideLostGraphContainer</string>
</dict>
</plist>
