<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDeclarativeResolverOwner</key>
	<string>skipSharedTagStack</string>
	<key>continueSubtleParameterImplement</key>
	<string>stopImmutableNumberList</string>
	<key>endMediocreSymbolDelegate</key>
	<string>setUniformDetailPool</string>
	<key>extendLastTopExtension</key>
	<string>setUnsortedStrokeReference</string>
	<key>holdIterativeVisiblePool</key>
	<string>embraceSynchronousTentativeDelegate</string>
	<key>renameComprehensivePopupInstance</key>
	<string>seekCartesianIndexContainer</string>
	<key>resumeSemanticNodeFilter</key>
	<string>setUsedDetailHelper</string>
	<key>setNewestVolumeCache</key>
	<string>reduceSpecifySizeArray</string>
	<key>setSharedHeadAdapter</key>
	<string>setPrimaryDescriptionOwner</string>
</dict>
</plist>
