<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIterativeMetadataAdapter</key>
	<string>getFirstBufferHandler</string>
	<key>getPrimaryValueOwner</key>
	<string>streamlineGeometricButtonStack</string>
	<key>setLostBinaryFilter</key>
	<string>getResilientMetadataReference</string>
</dict>
</plist>
