<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneDedicatedParameterOwner</key>
	<string>skipDirectPositionHelper</string>
	<key>requestFusedParamContainer</key>
	<string>keepUniqueRouteFactory</string>
	<key>setDedicatedBufferExtension</key>
	<string>setCustomOpacityStack</string>
	<key>setDirectlyBitrateObserver</key>
	<string>setDifficultSkewYArray</string>
	<key>setEphemeralTrianglesProtocol</key>
	<string>getMultiDescentExtension</string>
	<key>skipGlobalTempleInstance</key>
	<string>setRelationalVarAdapter</string>
</dict>
</plist>
