<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findActivatedParamInstance</key>
	<string>setSortedEdgeProtocol</string>
	<key>locateNormalBrushHandler</key>
	<string>setGranularNumberCache</string>
	<key>setEasySpecifierObserver</key>
	<string>displayStandaloneValueCreator</string>
	<key>stopSymmetricMaterialGroup</key>
	<string>setPrismaticCosineFilter</string>
</dict>
</plist>
