<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelDiscardedBatchOwner</key>
	<string>getHierarchicalElasticityList</string>
	<key>continueLargeEdgeList</key>
	<string>getUnsortedBatchInstance</string>
	<key>getDedicatedVariableHandler</key>
	<string>continueIntuitiveInterfaceReference</string>
	<key>getDelicateToleranceTarget</key>
	<string>setHierarchicalParameterObserver</string>
	<key>pauseMutableFragmentGroup</key>
	<string>getStandaloneBottomDecorator</string>
	<key>prepareHierarchicalVarCollection</key>
	<string>allocateDirectlyObjectOwner</string>
	<key>startPublicRightManager</key>
	<string>getNextNumberCache</string>
</dict>
</plist>
