<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureSubtleTempleCollection</key>
	<string>appendMultiAssetList</string>
	<key>replaceUniqueIntensityObserver</key>
	<string>revisitCartesianParamStack</string>
	<key>skipExplicitStampProtocol</key>
	<string>updateKeyVisibleContainer</string>
</dict>
</plist>
