<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneGeometricUnaryHandler</key>
	<string>insteadCartesianBufferGroup</string>
	<key>createComprehensiveBufferProtocol</key>
	<string>combineFusedBulletContainer</string>
	<key>getSpecifyCoordProtocol</key>
	<string>allocateLastTextureOwner</string>
	<key>keepReusableParamReference</key>
	<string>compareSmartParamTarget</string>
	<key>locateAgileParamOwner</key>
	<string>stopAutoIndicatorArray</string>
	<key>rectifyOtherParameterObserver</key>
	<string>getRespectiveOccasionObserver</string>
	<key>setBackwardBufferType</key>
	<string>getGlobalInfoCollection</string>
	<key>skipNewestCoordHandler</key>
	<string>setIterativeBufferFactory</string>
</dict>
</plist>
