<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueNextChartStack</key>
	<string>continueRelationalBottomBase</string>
	<key>getEphemeralNumberType</key>
	<string>continueActivatedLabelExtension</string>
	<key>getKeyBorderGroup</key>
	<string>setConcurrentVariableHelper</string>
	<key>multiplyDelicateInteractionPool</key>
	<string>stopDenseCurveCollection</string>
	<key>setOpaqueRendererCreator</key>
	<string>getArithmeticRendererFilter</string>
	<key>visitAssociatedFrameReference</key>
	<string>trainRetainedEquivalentOwner</string>
</dict>
</plist>
