<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureActivatedProjectAdapter</key>
	<string>finishDisplayableGraphTarget</string>
	<key>executeRapidReductionFactory</key>
	<string>getRelationalPositionExtension</string>
	<key>pauseDirectlyGramArray</key>
	<string>skipBackwardBufferBase</string>
	<key>pauseExplicitDialogsAdapter</key>
	<string>quantizerNumericalInformationList</string>
	<key>resumeCriticalPopupImplement</key>
	<string>touchElasticParameterTarget</string>
	<key>setAsynchronousFragmentProtocol</key>
	<string>setDifficultInitiatorsFactory</string>
	<key>setOldCoordOwner</key>
	<string>unlockSmartPolyfillTarget</string>
	<key>setPermanentBoundObserver</key>
	<string>getRequiredMenuFilter</string>
	<key>skipPrismaticResolverList</key>
	<string>endSingleTempleGroup</string>
	<key>trainMutableResolverExtension</key>
	<string>setMissedOriginBase</string>
</dict>
</plist>
