<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureOpaqueImageHelper</key>
	<string>getMainTweakExtension</string>
	<key>destroyConsultativePopupCache</key>
	<string>showSubsequentUnaryOwner</string>
	<key>getTypicalRemainderCreator</key>
	<string>setIterativeResultStack</string>
	<key>insteadNumericalGraphFilter</key>
	<string>setFusedPositionProtocol</string>
	<key>skipIntuitivePopupAdapter</key>
	<string>finishPrevInterpolationFactory</string>
	<key>skipPermanentMemberOwner</key>
	<string>appendSharedTempleFactory</string>
	<key>unschedulePrevVectorFilter</key>
	<string>resumeKeyObjectFactory</string>
</dict>
</plist>
